{{define "main"}}
  <main>
    <section class="left-lines">
      <img src="/img/lines.svg" alt="" class="left-lines__img">
      <div class="container container--top-content grid-container-1k2 container--left-lines">
        <h2 class="eg-title">{{ T "basics_first_title" }}</h2>
        <ul class="eg-text grid-container-1k2__main-section">
          <li class="eg-text__group">
            <div class="eg-text__group-title">
              <span>1</span>
              <h4>{{ T "basics_vision_title" }}</h4>
            </div>
            <p class="eg-text__group-paragraph">{{ T "basics_vision"}}</p>
          </li>
          <li class="eg-text__group">
            <div class="eg-text__group-title">
              <span>2</span>
              <h4>{{ T "basics_consensus_title" }}</h4>
            </div>
            <p class="eg-text__group-paragraph">{{ T "basics_consensus"}}</p>
          </li>
          <li class="eg-text__group">
            <div class="eg-text__group-title">
              <span>3</span>
              <h4>{{ T "basics_clients_title" }}</h4>
            </div>
            <p class="eg-text__group-paragraph">{{ T "basics_clients" | safeHTML}}</p>
          </li>
          <li class="eg-text__group">
            <div class="eg-text__group-title">
              <span>4</span>
              <h4>{{ T "basics_survivability_title" }}</h4>
            </div>
            <p class="eg-text__group-paragraph">{{ T "basics_survivability"| safeHTML}}</p>
          </li>
          <li class="eg-text__group">
            <div class="eg-text__group-title">
              <span>5</span>
              <h4>{{ T "basics_ecomony_title" }}</h4>
            </div>
            <p class="eg-text__group-paragraph">{{ T "basics_ecomony_paragraph" | safeHTML}}</p>
          </li>
          <li class="eg-text__group">
            <div class="eg-text__group-title">
              <span>6</span>
              <h4>{{ T "basics_applicability_title" }}</h4>
            </div>
            <p class="eg-text__group-paragraph">{{ T "basics_applicability_paragraph" | safeHTML}}</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2 container--last-container">
        <h2 class="eg-title">{{ T "basics_second_title" }}</h2>
        <div class="eg-text grid-container-1k1 grid-container-1k1--sm-margins">
          <a href="{{ `developer-tools` | absLangURL | safeURL}}" class="eg-text__link eg-link"><span>{{ T "basics_second-section_first_link" }}</span></a>
          <a href="https://github.com/ergoplatform/ergo/wiki" class="eg-text__link eg-link"><span>{{ T "basics_second-section_second_link" }}</span></a>
          <a href="{{ `documents`| absLangURL | safeURL }}" class="eg-text__link eg-link"><span>{{ T "basics_second-section_third_link" }}</span></a>
        </div>
      </div>
    </section>
  </main>
{{end}}
