.eg-blog {
  max-width: 1140px;
  margin: 0 auto;

  &--w-100 {
    max-width: 100%;
  }

  .eg-blog__top-item {
    display: grid;
    grid-template-columns: 6fr minmax(100px, 11fr);
    grid-template-areas: "text img";
    width: 100%;
    height: 432px;
    margin-bottom: 50px;

    @media (max-width: $lg) {
      grid-template-columns: 7fr minmax(100px, 10fr);
    }

    @media (max-width: $md) {
      grid-template-columns: minmax(360px, 1fr);
      grid-template-rows: 1fr;
      height: 100%;
    }

    &-left-side {
      border: 1px solid #E1E1E1;
      padding: 40px 40px 60px 40px;

      @media (max-width: $lg) {
        padding: 20px 40px 20px 40px;
      }

      @media (max-width: $md) {
        grid-row: 2;
        grid-column: 1;
        padding: 15px 0px;
        border: none;
      }
    }

    &-img {
      height: 432px;

      img {
        width: 100%;
        height: 100%;

        @media (max-width: $md) {
          max-height: 400px;
        }
      }

      @media (max-width: $md) {
        max-height: 400px;
      }
    }

    &-title {
      font-size: 42px;
      line-height: 50px;
      color: $black;
      margin-bottom: 1rem;
      font-weight: normal;

      @media (max-width: $lg) {
        font-size: 36px;
        line-height: 40px;
      }

      @media (max-width: $sm) {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 0.5rem;
      }

      @media (max-width: $xs) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    &-paragraph {
      font-size: 16px;
      line-height: 22px;
      color: $light-black;
      margin-bottom: 1rem;

      @media (max-width: $sm) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .eg-blog__main {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-gap: 50px 5.4%;

    @media (max-width: $lg) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }

  .eg-blog__item {
    &-img {
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 0.75rem;
      color: $black;
      font-weight: normal;

      @media (max-width: $sm) {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 0.5rem;
      }

      @media (max-width: $xs) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0.5rem;
      }
    }

    &-paragraph {
      font-size: 16px;
      line-height: 22px;
      color: $light-black;
      margin-bottom: 0.75rem;

      @media (max-width: $sm) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .eg-blog__single {
    width: 100%;

    &-img {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      img {
        width: 100%;
        height: 100%;
      }

      h1 {
        font-size: 26px;
        line-height: 30px;
        font-weight: normal;
        margin-bottom: 2rem;

        @media (max-width: $md) {
          font-size: 24px;
          line-height: 28px;
        }

        @media (max-width: $sm) {
          font-size: 22px;
          line-height: 26px;
        }
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        margin-bottom: 2rem;

        @media (max-width: $md) {
          font-size: 18px;
          line-height: 28px;
        }

        @media (max-width: $sm) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      a {
        color: $light-red;
      }

      p {
        color: #181818;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 2rem;
      }

      pre {
        background-color: #f6f8fa;
        border-radius: 3px;
        line-height: 1.45;
        overflow: auto;
        padding: 16px;
        word-wrap: normal;
        margin-bottom: 1.5rem;
        margin-top: 0;
        max-width: 952px;

        & > code {
          background: transparent;
          border: 0;
          font-size: 100%;
          margin: 0;
          padding: 0;
          white-space: pre;
          word-break: normal;
          background-color: transparent;
          display: inline;
          line-height: inherit;
          overflow: visible;
          word-wrap: normal;
        }
      }
    }
  }
}
