{{ define "footerscripts"}}
    {{ $js := resources.Get "js/miningCalculator.js" }}
    {{ $jsFile := $js | resources.Minify | resources.Fingerprint "md5" }}
    <script type="text/javascript" src="{{ $jsFile.Permalink }}" defer></script>
{{ end }}

{{define "main"}}
    <main>
        <section class="left-lines">
            <img src="/img/lines.svg" alt="" class="left-lines__img left-lines__img_higher">
            <div class="grid-container-1k2 container container--top-content container--lg-padding-bottom">
                <h2 class="eg-title">Ergo Mining Calculator</h2>
                <div id="miningCalculator"></div>
              </div>
        </section>
    </main>
{{end}}