{{ define "footerscripts"}}
    {{ $js := resources.Get "js/miningCalculator.js" }}
    {{ $jsFile := $js | resources.Minify | resources.Fingerprint "md5" }}
    <script type="text/javascript" src="{{ $jsFile.Permalink }}" defer></script>
{{ end }}

{{define "main"}}
    <main>
        <section class="left-lines">
            <img src="/img/lines.svg" alt="" class="left-lines__img left-lines__img_higher">
            <div class="grid-container-1k2 container container--top-content">
              <h2 class="eg-title">About</h2>
              <div class="grid-container-1k2__main-section eg-text">
                <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-1-5">Ergo will have a hardening protocol upgrade on block #417,792. This upgrade introduces breaking changes where <b>Non-Outsourceability will be switched off</b>. After this hardfork, the new PoW (called Autolykos v2.0) will support traditional mining pools.</p>
                <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-1-5">The following instructions will be valid since block #417,792. More details <a class="eg-link eg-link--red" href="https://github.com/ergoplatform/ergo/releases/tag/v4.0.0" target="_blank"><span>here</span></a> and <a class="eg-link eg-link--red" target="_blank" href="https://github.com/ergoplatform/ergo/releases/tag/v4.0.1"><span>here</span></a>. Previous instructions, which is valid until block #417,791, can be found <a class="eg-link eg-link--red" target="_blank" href="https://github.com/ergoplatform/ergo/wiki/Mining-Ergo-for-Fun-and-Profit"><span>here</span></a>.</p>
                <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-1-5">Ergo mining is based on <a class="eg-link eg-link--red" target="_blank" href="https://docs.ergoplatform.com/ErgoPow.pdf"><span>Autolykos v.2</span></a>, a Proof-of-Work algorithm designed to be ASIC resistant. Miners have to perform memory-hard computations~(at least 2.5 GB memory is needed, but the current most efficient implementation utilizes around 4 GB of vRAM) that makes Ergo friendly for GPU mining. Unlike Autolykos v.1, Autolykos v.2 does not require access to private keys, thereby allowing mining pool formation. As soon as a correct solution is found, the miner broadcasts the block along with the solution and is able to collect the block reward after a delay of 720 blocks using the secret of his mining address. The rest of the network verifies the solution which can be done very efficiently, requiring less than a kilobyte of memory.</p>
                <a href="https://github.com/ergoplatform/ergo/wiki/Mining-Ergo-after-The-Hardening-Upgrade" target="_blank" class="eg-text__link eg-link"><span>Read more about mining</span></a>
              </div>
            </div>
            <div class="grid-container-1k2 container container--lg-padding-bottom">
              <h2 class="eg-title">Mining Pools</h2>
              <div class="grid-container-1k2__main-section eg-text">
                <ul class="eg-pools eg-mb-1-5">
                  {{ range .Site.Home.AllTranslations }}
                    {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                      {{ $defaultLangPages := where .Sites.First.RegularPages.ByDate "Section" "mining" }}
                      {{ range $defaultLangPages }}
                        <li>
                          <a target="_blank" class="eg-link" href="{{ .Params.link }}">
                            <span>{{ .Params.title }}</span>
                          </a>
                        </li>
                      {{end}}
                    {{end}}
                  {{ end }}
                </ul>
                <a href="https://miningpoolstats.stream/ergo" target="_blank" class="eg-text__link eg-link"><span>Mining pool stats</span></a>
              </div>
            </div>
            <div class="grid-container-1k2 container container--lg-padding-bottom">
              <h2 class="eg-title">Miners</h2>
              <div class="grid-container-1k2__main-section">
                <ul class="eg-pools">
                  {{ range .Site.Home.AllTranslations }}
                    {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                      {{ $defaultLangPages := where .Sites.First.RegularPages.ByDate "Section" "miners" }}
                      {{ range $defaultLangPages }}
                        <li>
                          <a class="eg-link" href="{{ .Params.link }}">
                            <span>{{ .Params.title }}</span>
                          </a>
                        </li>
                      {{end}}
                    {{end}}
                  {{ end }}
                </ul>
              </div>
            </div>
            <div class="grid-container-1k2 container container--lg-padding-bottom">
              <h2 class="eg-title">Mining Calculator</h2>
              <div id="miningCalculator"></div>
            </div>
        </section>
    </main>
{{end}}
