{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "team_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-3">{{ T "team_first-section_first_paragraph" | safeHTML }}</p>
        <div class="grid-container-1k1 grid-container-1k1--md-margins">
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#report-bugs"><span>{{ T "team_first-section_first-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#report-bugs"><span class="eg-text__paragraph eg-text__paragraph--18">{{ T "team_first-section_first-item_paragraph"}}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#write-code"><span>{{ T "team_first-section_second-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#write-code"><span>{{ T "team_first-section_second-item_paragraph"}}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#translation"><span>{{ T "team_first-section_third-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#translation"><span>{{ T "team_first-section_third-item_paragraph"}}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#documentation"><span>{{ T "team_first-section_fourth-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#documentation"><span>{{ T "team_first-section_fourth-item_paragraph"}}</span></a>
            </div>
          </div>
<!--          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link&#45;&#45;26 eg-link" href="#"><span>{{ T "team_first-section_fifth-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph&#45;&#45;18 eg-link" href="#"><span>{{ T "team_first-section_fifth-item_paragraph"}}</span></a>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    <section class="container container--last-container">
      <div class="border-section container--margins-y">
        <h2 class="eg-title eg-mb-3 eg-mb-sm-1-5">{{ T "team_second_title" }}</h2>
        <div class="eg-team-grid">
          <div class="eg-team-grid__item">
            <img src="/img/team/Chepurnoy.jpg" width="200" height="200" alt="Chepurnoy photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Alexander Chepurnoy</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/kushti") -}}
              </div>
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "twitter.html" (dict "context" . "link" "https://twitter.com/chepurnoy") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Meshkov.jpeg" width="200" height="200" alt="Meshkov photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Dmitry Meshkov</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/catena2w") -}}
              </div>
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "twitter.html" (dict "context" . "link" "https://twitter.com/DmitryMeshkov") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Slesarenko.jpg" width="200" height="200" alt="Slesarenko photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Alexander Slesarenko</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/aslesarenko") -}}
              </div>
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "twitter.html" (dict "context" . "link" "https://twitter.com/avslesarenko") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Oskin.jpg" width="200" height="200" alt="Oskin photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Ilya Oskin</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/oskin1") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Zadorozhnyi.jpg" width="200" height="200" alt="Zadorozhnyi photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Denys Zadorozhnyi</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/greenhat") -}}
              </div>
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "twitter.html" (dict "context" . "link" "https://twitter.com/greenden") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Saxena.png" width="200" height="200" alt="Saxena photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Amitabh Saxena</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/scalahub") -}}
              </div>
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "twitter.html" (dict "context" . "link" "https://twitter.com/scalahub") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Gostkin.jpg" width="200" height="200" alt="Gostkin photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Eugene Gostkin</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/gostkin") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Stefoshin.jpg" width="200" height="200" alt="Stefonishin photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Daniil Stefonishin</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/sumvorax") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Usov.jpg" width="200" height="200" alt="Stefonishin photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Dmitry Usov</p>
            <p class="eg-team-grid__item-role">{{ T "team_developer" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/deadit") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Kharin.jpg" width="200" height="200" alt="Kharin photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Vasily Kharin</p>
            <p class="eg-team-grid__item-role">{{ T "team_researcher" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "github.html" (dict "context" . "link" "https://github.com/ra3dnr") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Manzanares.jpg" width="200" height="200" alt="Manzanares photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Guillermo Manzanares</p>
            <p class="eg-team-grid__item-role">{{ T "team_community" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "twitter.html" (dict "context" . "link" "https://twitter.com/mentalist420") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Spodymek.jpg" width="200" height="200" alt="Spodymek photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Martin Spodymek</p>
            <p class="eg-team-grid__item-role">{{ T "team_community" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "twitter.html" (dict "context" . "link" "https://twitter.com/ergobug") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Simpson.jpg" width="200" height="200" alt="Simpson photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Justin Simpson</p>
            <p class="eg-team-grid__item-role">{{ T "team_community" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "linkedin.html" (dict "context" . "link" "https://www.linkedin.com/in/justin-simpson-9590044a/") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Hudson.jpg" width="200" height="200" alt="Simpson photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Noah Hudson</p>
            <p class="eg-team-grid__item-role">{{ T "team_community" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "linkedin.html" (dict "context" . "link" "https://www.linkedin.com/in/noah-hudson-88ab245/") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img src="/img/team/Li.jpg" width="200" height="200" alt="Simpson photo" class="eg-team-grid__item-img">
            <p class="eg-team-grid__item-name">Sha Li</p>
            <p class="eg-team-grid__item-role">{{ T "team_community" }}</p>
            <div class="eg-social">
              <div class="eg-social__item eg-social__item--sm-margins">
                {{- partial "linkedin.html" (dict "context" . "link" "https://www.linkedin.com/in/sha-li-14b21a40/") -}}
              </div>
            </div>
          </div>
          <div class="eg-team-grid__contribute">
            <div>
              <p class="eg-team-grid__contribute-title">
                {{ T "team_contribute" }}<br/><a href="https://github.com/ergoplatform/ergo/wiki/Contribute" class="eg-team-grid__contribute-subtitle eg-link"><span>{{ T "team_now" }}</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
