{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "software_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_first_paragraph"}}</p>
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_second_paragraph"}}</p>
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_third_paragraph"}}</p>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2">
        <h2 class="eg-title">{{ T "documents_title" }}</h2>
        <div class="grid-container-1k2__main-section">
          <div class="eg-text eg-mb-3 eg-mb-sm-2">
            <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "tools_second-section_first_paragraph"}}</p>
          </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
