{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "software_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_first_paragraph"}}</p>
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_second_paragraph"}}</p>
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_third_paragraph"}}</p>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2">
        <h2 class="eg-title">{{ T "software_second_title" }}</h2>
        <div class="eg-text grid-container-1k2__main-section">
          <p class="eg-text__paragraph--26 eg-text--color-red">{{ T "software_second-section_first_title"}}</p>
          <div class="eg-download eg-text">
            <p class="eg-text--color-black eg-text__paragraph eg-text__paragraph--16 eg-mb-0 eg-mb-lg-0-5">{{ T "software_second-section_first_first-item_title"}}</p>
            <div>
              <a href="#" class="eg-text__link eg-text__link--16 eg-text__link--sm-download eg-mb-0 eg-link"><span>monero.win.x64.v0.11.1.0</span></a>
            </div>
          </div>
          <div class="eg-download eg-text eg-mb-2-5">
            <p class="eg-text--color-black eg-text__paragraph eg-text__paragraph--16 eg-mb-0 eg-mb-lg-0-5">{{ T "software_second-section_first_second-item_title"}}</p>
            <div>
              <a href="#" class="eg-text__link eg-text__link--16 eg-text__link--sm-download eg-mb-0 eg-link"><span>monero.win.x86.v0.11.1.0</span></a>
            </div>
          </div>
          <p class="eg-text__paragraph--26 eg-text--color-red">{{ T "software_second-section_second_title"}}</p>
          <div class="eg-download eg-text eg-mb-2-5">
            <p class="eg-text--color-black eg-text__paragraph eg-text__paragraph--16 eg-mb-0 eg-mb-lg-0-5">{{ T "software_second-section_second_first-item_title"}}</p>
            <div>
              <a href="#" class="eg-text__link eg-text__link--16 eg-text__link--sm-download eg-mb-0 eg-link"><span>monero.win.x64.v0.11.1.0</span></a>
            </div>
          </div>
          <p class="eg-text__paragraph--26 eg-text--color-red">{{ T "software_second-section_third_title"}}</p>
          <div class="eg-download eg-text">
            <p class="eg-text--color-black eg-text__paragraph eg-text__paragraph--16 eg-mb-0 eg-mb-lg-0-5">{{ T "software_second-section_third_first-item_title"}}</p>
            <div>
              <a href="#" class="eg-text__link eg-text__link--16 eg-text__link--sm-download eg-mb-0 eg-link"><span>monero.win.x64.v0.11.1.0</span></a>
            </div>
          </div>
          <div class="eg-download eg-text eg-mb-2-5">
            <p class="eg-text--color-black eg-text__paragraph eg-text__paragraph--16 eg-mb-0 eg-mb-lg-0-5">{{ T "software_second-section_third_second-item_title"}}</p>
            <div>
              <a href="#" class="eg-text__link eg-text__link--16 eg-text__link--sm-download eg-mb-0 eg-link"><span>monero.win.x86.v0.11.1.0</span></a>
            </div>
          </div>
          <p class="eg-text__paragraph--26 eg-text--color-red">{{ T "software_second-section_fourth_title"}}</p>
          <div class="eg-download eg-text eg-mb-2-5">
            <p class="eg-text--color-black eg-text__paragraph eg-text__paragraph--16 eg-mb-0 eg-mb-lg-0-5">{{ T "software_second-section_fourth_first-item_title"}}</p>
            <div class="eg-download__link">
              <a href="#" class="eg-text__link eg-text__link--16 eg-text__link--sm-download eg-mb-0 eg-link"><span>monero.freebsd.x64.v0.11.1.0.tar.bz2</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
