@font-face {
  font-family: "LabGrotesque";
  src: url("../fonts/LabGrotesque-kern-latin.woff") format("woff");
  font-display: swap;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "LabGrotesqueMono";
  font-display: swap;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  src: url("../fonts/LabGrotesque-Mono-num.woff") format("woff");
}
