@font-face {
  font-family: "LabGrotesque";
  font-display: swap;
  src: local("LabGrotesque"), url("../fonts/LabGrotesque-Regular.woff") format("woff");
}

@font-face {
  font-family: "LabGrotesqueMono";
  font-display: swap;
  src: local("LabGrotesqueMono"), url("../fonts/LabGrotesque-Mono.woff") format("woff");
}
