$md: 991px;
$sm: 767px;
$xs: 575px;
$lg: 1199px;


$light-white: #F7F8FA;
$white: #fff;
$black: #000;
$light-red: #FF4221;
$light-black: #181818;
$light-gray: #7E7E7E;
$opacity-gray: #E3E3E3;
$silver: #D8D8D8;
