.eg-footer {
  background: $black;
  flex: 0 0 auto;

  .eg-footer__item:last-child {
    display: flex;
    align-items: flex-end;

    @media (max-width: $sm) {
      display: block;
    }
  }

  .eg-footer__container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 30%;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (max-width: $lg) {
      grid-template-columns: 7fr 5fr;
      grid-gap: 20%;
    }

    @media (max-width: $md) {
      grid-gap: 10%;
      grid-template-columns: 7fr 5fr;
    }

    @media (max-width: $sm) {
      grid-gap: 2rem;
      grid-template-columns: 1fr;
      padding-top: 1.5rem;
      padding-bottom: 2rem;
    }
  }

  .eg-footer__name {
    &-title {
      font-size: 30px;
      line-height: 42px;
      color: $white;
      margin: 0;

      @media (max-width: $sm) {
        font-size: 22px;
        line-height: 42px;
      }
    }

    &-mail {
      color: $light-red;
      font-size: 30px;
      line-height: 42px;
      margin: 0;

      @media (max-width: $sm) {
        font-size: 22px;
        line-height: 42px;
      }
    }
  }

  .eg-footer__copyright {
    display: flex;
    margin-top: 110px;

    @media (max-width: $sm) {
      display: none;
    }

    &--mobile {
      display: none !important;

      @media (max-width: $sm) {
        display: flex !important;
        margin-top: 2rem;
      }
    }

    &-paragraph {
      font-size: 16px;
      line-height: 24px;
      color: $light-gray;

      @media (max-width: $sm) {
        font-size: 14px;
      }
    }

    &-list {
      display: flex;
    }

    &-item {
      margin-left: 2rem;

      @media (max-width: $sm) {
        margin-left: 1rem;
      }
    }

    &-link {
      font-size: 16px;
      line-height: 22px;
      color: $light-gray;
      position: relative;
      transition: color ease-in 0.15s;

      @media (max-width: $sm) {
        font-size: 14px;
      }

      &:hover {
        text-decoration: none;
        color: $white;
      }

      &::after {
        content: "";
        width: 100%;
        display: block;
        border-bottom: 1px solid;
      }
    }
  }

  .eg-footer__insights {
    display: flex;
    flex-direction: column;

    &-label {
      font-size: 16px;
      line-height: 22px;
      color: $white;
      margin-bottom: 1rem;
    }

    &-group {
      display: inline-block;
      position: relative;
      margin-right: 30px;
      border-bottom: 1px solid $white;
      width: 70%;

      @media (max-width: $lg) {
        width: 100%;
      }

      @media (max-width: $md) {
        width: 100%;
      }

      @media (max-width: $sm) {
        width: 50%;
        min-width: 280px;
      }
    }

    &-input {
      font-size: 20px;
      line-height: 38px;
      height: 44.5px;
      color: $white;
      background: $black;
      border: none;
      border-radius: 0;
      width: 100%;
      outline: none;

      @media (max-width: $sm) {
        font-size: 20px;
        line-height: 30px;
        width: 100%;
      }
    }

    &-button {
      box-sizing: border-box;
      background: 0 0;
      padding: 0;
      border: none;
      top: 12px;
      position: absolute;
      right: 0;
      line-height: 32px;
      cursor: pointer;
    }

    &-image {
      g {
        transition: fill ease-in 0.15s;
      }

      &:hover {
        g {
          fill: $light-red;
        }
      }
    }
  }

  .eg-footer__social {
    &-label {
      font-size: 16px;
      line-height: 22px;
      font-weight: normal;
      margin-bottom: 1.5rem;
      color: $white;
    }

    &-icons {
      display: flex;
    }

    &-icon {
      & + .eg-footer__social-icon {
        margin-left: 1.5rem;
      }
    }
  }
}
