
// Ergo Mining Calculator

.calc-container {
    display: flex;
  
    @media (max-width: $sm) {
      flex-direction: column;
    }
  }
  
  .calc-leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    &_header {
      font-size: 17px;
      margin-bottom: 13px;
    }
  
    &_main {
      display: flex;
      align-items: flex-end;
    }
  
    &_input-wrapper {
          display: inline-flex;
          vertical-align: middle;
          align-items: center;
          height: 36px;
          user-select: none;
          flex: 1 1 0%;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(234, 234, 234);
          border-image: initial;
      transition: border 0.2s ease 0s, color 0.2s ease 0s;
      margin-right: 8px;
          
          &.active {
              border-color: #FF4221;
          }
  
          input {
              box-shadow: none;
              font-size: 13px;
              background-color: transparent;
              color: rgb(0, 0, 0);
              width: 100%;
              min-width: 0px;
              margin: 4px 10px;
              padding: 0px;
              border-width: initial;
              border-style: none;
              border-color: initial;
              border-image: initial;
              outline: none;
              border-radius: 0px;
          }
      }
  }
  
  .calc-rightside {
    background-color: #000;
    width: auto;
    padding: 33px;
    color: #fff;
    border-radius: 6px;
    margin-left: 52px;
  
    @media (max-width: $sm) {
      margin-left: 0;
      margin-top: 13px;
    }
  
    &_header {
      font-size: 17px;
      margin-bottom: 24px;
    }
  
    &_main {
      font-size: 34px;
      margin-bottom: 36px;
    }
  
    &_parameters {
      display: flex;
    }
  
    &_parameter {
      &:nth-child(n + 2) {
        margin-left: 23px;
      }
  
      &_title {
        font-size: 7px;
        margin-bottom: 7px;
        color: #E2DFDF;
      }
  
      &_value {
        font-size: 13px;
      }
    }
  }
  
  .accented-text {
    color: #FF4221;
  }