@import 'fonts';
@import 'variables';
@import 'components/eg-button';
@import 'components/eg-info';
@import 'components/eg-title';
@import 'components/eg-author';
@import 'components/eg-red-section';
@import 'components/eg-social';
@import 'components/eg-slider';
@import 'components/eg-text';
@import 'components/eg-margins';
@import 'components/eg-download';
@import 'components/eg-team-grid';
@import 'components/eg-accordion';
@import 'components/eg-table';
@import 'components/eg-share';
@import 'components/eg-popup';
@import 'components/eg-exchanges';
@import 'footer';
@import 'header';
@import 'landing/landing';
@import "404";
@import 'blog/eg-blog';

* {
  box-sizing: border-box;
  font-family: "LabGrotesque", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: relative;
  min-width: 340px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.right-lines {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  left: 55%;
  top: 120px;
}

.left-lines {
  position: relative;
  overflow: hidden;

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    position: absolute;
    right: 74%;
    top: 150px;

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.container {
  max-width: 1600px;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $md) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $xs) {
    padding-left: 25px;
    padding-right: 25px;
  }

  &--last-container {
    padding-bottom: 70px !important;

    @media (max-width: $sm) {
      padding-bottom: 60px !important;
    }
  }

  &--margins-y {
    padding-top: 70px;
    padding-bottom: 70px;

    @media (max-width: $sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }


  &--top-content {
    padding-top: 100px;
    padding-bottom: 60px;

    @media (max-width: $md) {
      padding-top: 100px;
      padding-bottom: 60px;
    }

    @media (max-width: $sm) {
      padding-top: 40px;
      padding-bottom: 2rem;
    }
  }

  &--lg-padding-bottom {
    padding-bottom: 130px !important;

    @media (max-width: $sm) {
      padding-bottom: 60px !important;
    }
  }
}

.border-section {
  border-top: 1px solid #D8D8D8;

  &--padding-top {
    padding-top: 2.5rem;
  }
}

.grid-container-1k2 {
  display: grid;
  grid-template-columns: 4fr minmax(100px, 11fr);
  grid-gap: 11.6%;

  @media (max-width: $sm) {
    grid-template-columns: minmax(100px, 1fr);
    grid-gap: 0;
  }

  &__main-section {
    margin-top: 12px;

    @media (max-width: $md) {
      margin-top: 0;
    }
  }
}

.grid-container-1k1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px 9%;
  margin-top: 12px;

  @media (max-width: $md) {
    margin-top: 0;
  }

  @media (max-width: $sm) {
    grid-template-columns: 1fr;
    grid-gap: calc(1.5rem + 4px);
  }

  &--sm-margins {
    grid-gap: 20px 9% !important;

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-gap: calc(1.5rem + 4px);
      margin-top: 0;
    }
  }

  &--md-margins {
    grid-gap: 40px 9% !important;

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-gap: calc(1.5rem + 4px);
      margin-top: 0;
    }
  }
}

.logotype {
  display: inline-block;
  padding: 0;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

  @media (max-width: $sm) {
    height: 48px;
    width: 120px;
  }

  img {
    @media (max-width: $sm) {
      height: 48px;
      width: 120px;
    }
  }

  &-mobile {
    height: 100%;
    display: none;
  }
}

.visible-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.download-button,
.related-button {
  margin-top: 50px;
}

.load-more {
  display: flex;
  justify-content: center;

  @media (max-width: $sm) {
    justify-content: flex-start;
  }
}
