@import 'fonts';
@import 'variables';
@import 'components/eg-button';
@import 'components/eg-info';
@import 'components/eg-title';
@import 'components/eg-author';
@import 'components/eg-red-section';
@import 'components/eg-social';
@import 'components/eg-slider';
@import 'footer';
@import 'header';
@import 'landing/landing';

* {
  box-sizing: border-box;
  font-family: "LabGrotesque", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  min-width: 340px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;

  @media (max-width: $md) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $xs) {
    padding-left: 25px;
    padding-right: 25px;
  }

  &--margins-y {
    padding-top: 70px;
    padding-bottom: 70px;

    @media (max-width: $sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

.grid-container-1k2 {
  display: grid;
  grid-template-columns: 5fr 11fr;
  grid-gap: 5.9%;

  @media (max-width: $sm) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.grid-container-1k1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px 9%;
  margin-top: 0.5rem;

  @media (max-width: $sm) {
    grid-template-columns: 1fr;
    grid-gap: calc(1.5rem + 4px);
  }
}

.logotype {
  display: inline-block;
  padding: 0;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

  @media (max-width: $sm) {
    height: 48px;
    width: 120px;
  }

  img {
    @media (max-width: $sm) {
      height: 48px;
      width: 120px;
    }
  }

  &-mobile {
    height: 100%;
    display: none;
  }
}
