{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">Tags:</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <div class="eg-tag-container">
          {{ range .Site.Taxonomies.tags }}
            <a class="eg-tag" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
          {{ end }}
        </div>
      </div>
    </section>
    <section class="container container--lg-padding-bottom">
      <div class="eg-blog">
        {{ range first 1 .Pages.ByPublishDate.Reverse }}
          <div class="eg-blog__top-item">
            <div class="eg-blog__top-item-left-side">
              <a href="{{.Permalink}}" class="eg-link">
                <h3 class="eg-blog__top-item-title"><span>{{ truncate 60 .Title }}</span></h3>
                <p class="eg-blog__top-item-paragraph"><span>{{ truncate 140 .Summary}}</span></p>
              </a>
              {{if .Params.tags}}
                <ul class="eg-my-1-5">
                  {{ range .Params.tags }}
                    <a class="eg-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                  {{ end }}
                </ul>
              {{ end }}
              <div class="eg-author">
                <img
                  src="/img/placeholder-image.jpg"
                  data-src="{{ .Params.authorPhoto }}"
                  data-srcset="{{ .Params.authorPhoto }}"
                  alt="author img"
                  class="eg-author__img lazy"
                  width="60"
                  height="60"
                >
                <div class="eg-author__info">
                  <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                  <p class="eg-author__info-paragraph">{{ if eq .Language.Lang "cn" }}{{ .Date.Format "2006.01.02" }}{{ else }}{{ .Date.Format "2 January, 2006" }}{{end}}</p>
                </div>
              </div>
            </div>
            <div class="eg-blog__top-item-img">
              <a href="{{.Permalink}}" class="eg-link"><img
                src="/img/placeholder-image.jpg"
                alt="blog photo"
                class="lazy"
                data-src="{{ .Params.blogPhoto }}"
                data-srcset="{{ .Params.blogPhoto }}"
              /></a>
            </div>
          </div>
        {{ end }}
        <div class="eg-blog__main download">
          {{ range (after 1 .Pages.ByPublishDate.Reverse) }}
            <div class="eg-blog__item download__post">
              <a href="{{.Permalink}}" class="eg-link">
                <div class="eg-blog__item-img">
                  <img
                    src="/img/placeholder-image.jpg"
                    data-src="{{ .Params.blogPhoto }}"
                    data-srcset="{{ .Params.blogPhoto }}"
                    height="188"
                    width="335"
                    alt="blog photo"
                    class="lazy"
                  ></div>
                <div class="eg-mb-1"><h3 class="eg-blog__item-title eg-link" href="{{.Permalink}}"><span>{{ truncate 50 .Title }}</span></h3></div>
                <div class="eg-mb-1"><p class="eg-blog__item-paragraph eg-link" href="{{.Permalink}}"><span>{{ truncate 155 .Summary}}</span></p></div>
              </a>
              {{if .Params.tags}}
                <ul class="eg-my-1-5">
                  {{ range .Params.tags }}
                    <a class="eg-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                  {{ end }}
                </ul>
              {{ end }}
              <div class="eg-author">
                <img
                  src="/img/placeholder-image.jpg"
                  data-src="{{ .Params.authorPhoto }}"
                  data-srcset="{{ .Params.authorPhoto }}"
                  alt="author img"
                  class="eg-author__img lazy"
                  width="60"
                  height="60"
                  class="lazy"
                >
                <div class="eg-author__info">
                  <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                  <p class="eg-author__info-paragraph">{{ if eq .Language.Lang "cn" }}{{ .Date.Format "2006.01.02" }}{{ else }}{{ .Date.Format "2 January, 2006" }}{{end}}</p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
        <div class="load-more">
          <button class="download-button eg-btn eg-btn--outline-orange d-none">{{ T "news_load_more" }}</button>
        </div>
      </div>
    </section>
  </main>
{{end}}
