{{define "main"}}
  <main class="">
    <section class="container  container--top-content grid-container-1k2">
      <div class="eg-text eg-mb-2 eg-mb-sm-1-5">
        <a href="{{ `blog` | absLangURL | safeURL }}" class="eg-text__link eg-text__link--20 eg-text__link--left-arrow eg-link"><span>{{ T "back_to_all_posts"}}</span></a>
      </div>
      <div class="eg-text eg-blog eg-blog--w-100">
        <h1 class="eg-title eg-mb-1">{{ .Title }}</h1>
        {{if .Params.tags}}
          <ul class="eg-my-1-5">
            {{ range .Params.tags }}
              <a class="eg-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
            {{ end }}
          </ul>
        {{ end }}
        <div class="eg-author">
          <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img">
          <div class="eg-author__info">
            <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
            <p class="eg-author__info-paragraph">{{ if eq .Language.Lang "cn" }}{{ .Date.Format "2006.01.02" }}{{ else }}{{ .Date.Format "2 January, 2006" }}{{end}}</p>
          </div>
        </div>
        <div class="eg-blog__single-img">
          <img src="{{ .Params.blogPhoto }}" alt="blog photo">
        </div>
        <div class="eg-blog__single-content">
          <div>
            {{ .Content }}
          </div>
        </div>
        <div>
          {{- partial "share.html" (dict "context" . "link" .Permalink ) -}}
        </div>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y container--last-container container--lg-padding-bottom">
        <h2 class="eg-title eg-mb-2-5">{{ T "blog_related_reads" }}</h2>
        <div class="eg-blog eg-blog--w-100">
          <div class="eg-blog__main related">
            {{ $blogPosts := where .Site.RegularPages "Section" "blog" }}
            {{ $current := .RelPermalink}}
            {{ range $blogPosts }}
              {{ if ne $current .RelPermalink }}
                <div class="eg-blog__item related__post">
                  <a href="{{.Permalink}}" class="eg-link">
                    <div class="eg-blog__item-img"><img src="{{ .Params.blogPhoto }}" height="188" width="335" alt="blog photo"></div>
                    <div class="eg-mb-1"><h3 class="eg-blog__item-title eg-link" href="{{.Permalink}}"><span>{{ truncate 50 .Title }}</span></h3></div>
                    <div class="eg-mb-1"><p class="eg-blog__item-paragraph eg-link" href="{{.Permalink}}"><span>{{ truncate 155 .Summary}}</span></p></div>
                  </a>
                  {{if .Params.tags}}
                    <ul class="eg-my-1-5">
                      {{ range .Params.tags }}
                        <a class="eg-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                      {{ end }}
                    </ul>
                  {{ end }}
                  <div class="eg-author">
                    <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img" width="60" height="60">
                    <div class="eg-author__info">
                      <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                      <p class="eg-author__info-paragraph">{{ if eq .Language.Lang "cn" }}{{ .Date.Format "2006.01.02" }}{{ else }}{{ .Date.Format "2 January, 2006" }}{{end}}</p>
                    </div>
                  </div>
                </div>
              {{ end }}
            {{ end }}
            </div>
            <div class="load-more">
              <button class="related-button eg-btn eg-btn--outline-orange d-none">{{ T "news_load_more" }}</button>
            </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
