.eg-btn {
  display: inline-block;
  height: 50px;
  color: $white;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  padding: 12px 30px 14px 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &--orange {
    background: $light-red;
    color: $white;
    transition: opacity ease-in 0.15s;

    &:hover {
      opacity: 0.9;
    }
  }

  &--outline-orange {
    border: 1px solid $light-red;
    background: $white;
    color: $light-red;
    transition: background ease-in 0.15s, color ease-in 0.15s;

    &:hover {
      background: $light-red;
      color: $white;
    }
  }
}
