.eg-btn {
  display: inline-block;
  height: 50px;
  color: $white;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  padding: 12px 30px 14px 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &--orange {
    background: $light-red;
    color: $white;
    transition: opacity ease-in 0.15s;

    &:hover {
      opacity: 0.9;
    }
  }

  &--outline-orange {
    border: 1px solid $light-red;
    background: $white;
    color: $light-red;
    position: relative;
    outline: none;
    background-color: $white;
    z-index: 1;
    overflow: hidden;
    transition: color 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $white;
    }

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 100%;
      right: 100%;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: $light-red;
      transform-origin: center;
      transform: translate(50%, -50%) scale(0);
      transition: transform 0.45s ease-in-out;
    }

    &:hover::before {
      transform: translate(50%, -50%) scale(25);
    }
  }
}
