.eg-info {
  display: block;

  &--link {
    &:hover {
      text-decoration: none;

      .eg-info__title {
        text-decoration: underline;
      }

      .eg-info__paragraph {
        text-decoration: underline;
      }
    }
  }

  .eg-info__title {
    color: $light-red;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 1rem;

    @media (max-width: $sm) {
      font-size: 22px;
      line-height: 30px;
    }

    &--white {
      color: $white;
    }

    &--black {
      color: $black;
    }
  }

  .eg-info__paragraph {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: $white;
    margin: 0;
    position: relative;

    @media (max-width: $sm) {
      font-size: 16px;
      line-height: 22px;
    }

    &--black {
      color: $light-black;
    }
  }
}
