
.eg-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .eg-popup__text {
    visibility: hidden;
    width: 160px;
    background-color: $light-red;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $light-red transparent transparent transparent;
    }

    &.show {
      visibility: visible;
      animation: fadeIn 1s;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
