.eg-share {
  display: flex;
  align-items: center;
  margin-top: 50px;

  &__list {
    display: flex;
  }

  li {
    & + li {
      margin-left: 0.75rem;
    }
  }

  p {
    margin: 0 !important;
    margin-right: 1.5rem !important;
  }

  .eg-share__link {
    &:hover,
    &:focus {
      .st0 {
        fill: $white;
      }

      polygon {
        fill: $white;
      }

      g {
        fill: $light-red;
      }

      path {
        fill: $light-red;
      }
    }

    &:active {
      .st0 {
        fill: rgba(255,255,255, 0.8);
      }

      polygon {
        fill: $white;
      }

      g {
        fill: rgba(255, 66, 33, 0.9);
      }

      path {
        fill: rgba(255, 66, 33, 0.9);
      }
    }
  }
}
