.eg-title {
  color: $black;
  font-size: 42px;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 0;

  @media (max-width: $lg) {
    font-size: 36px;
    line-height: 40px;
  }


  @media (max-width: $md) {
    font-size: 28px;
    line-height: 32px;
  }

  @media (max-width: $sm) {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 1.5rem;
  }

  &--white {
    color: $white;
  }
}
