.eg-text {
  .eg-text__group {
    display: flex;
    flex-direction: column;

    & + .eg-text__group {
      margin-top: 50px;

      @media (max-width: $sm) {
        margin-top: 2rem;
      }
    }

    &-title {
      position: relative;
      display: flex;

      @media (max-width: $sm) {
        margin-bottom: 0.5rem;
      }

      span {
        position: absolute;
        width: 32px;
        height: 30px;
        color: $white;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        left: -42px;
        background-image: url('../img/octagon_red.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: $md) {
          left: -38px;
        }

        @media (max-width: $sm) {
          position: relative;
          left: 0;
          margin-right: 0.5rem;
        }
      }

      h4 {
        font-size: 26px;
        line-height: 30px;
        width: 100%;
        font-weight: 500;
        margin-bottom: 0.5rem;

        @media (max-width: $sm) {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }

    &-paragraph {
      font-size: 18px;
      line-height: 24px;
      color: $light-black;
      max-width: 97%;
      margin-bottom: 12px;

      @media (max-width: $sm) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .eg-text__title {
    font-weight: normal;
    width: 100%;
    margin-bottom: 1.5rem;

    &--42 {
      font-size: 42px;
      line-height: 50px;
    }
  }

  .eg-text--color-red {
    color: $light-red !important;
  }

  .eg-text--color-black {
    color: $black !important;
  }

  .eg-text__paragraph {
    color: $light-black;

    &--16 {
      font-size: 16px;
      line-height: 24px;

      @media (max-width: $sm) {
        font-size: 14px;
      }

      a {
        font-size: 16px;
        line-height: 24px;

        @media (max-width: $sm) {
          font-size: 14px;
        }
      }
    }

    &--18 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 1.5rem;

      @media (max-width: $md) {
        font-size: 16px;
        line-height: 22px;
      }

      @media (max-width: $sm) {
        margin-bottom: 1rem;
      }

      &:last-child {
        @media (max-width: $sm) {
          margin-bottom: 2rem;
        }
      }

      a {
        font-size: 18px;
        line-height: 24px;

        @media (max-width: $md) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &--26 {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 1rem;

      @media (max-width: $sm) {
        font-size: 22px;
        line-height: 26px;
      }

      a {
        font-size: 26px;
        line-height: 30px;

        @media (max-width: $md) {
          font-size: 24px;
          line-height: 28px;
        }

        @media (max-width: $sm) {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }

    &--20 {
      font-size: 20px;
      line-height: 30px;

      @media (max-width: $md) {
        font-size: 18px;
        line-height: 28px;
      }

      @media (max-width: $sm) {
        font-size: 16px;
        line-height: 24px;
      }

      a {
        font-size: 20px;
        line-height: 30px;

        @media (max-width: $md) {
          font-size: 18px;
          line-height: 28px;
        }

        @media (max-width: $sm) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .eg-text__link {
    font-size: 18px;
    line-height: 22px;
    color: $light-red;
    position: relative;

    @media (max-width: $sm) {
      font-size: 16px;
      line-height: 22px;
    }

    &--download {
      &::after {
        position: absolute;
        content: "";
        width: 18px;
        height: 23px;
        bottom: 2px;
        background-image: url('../img/download_arrow.svg');
        background-repeat: no-repeat;
        right: -28px;

        @media (max-width: $sm) {
          bottom: -1px;
        }
      }
    }

    &--sm-download {
      &::after {
        background-size: contain;
        position: absolute;
        content: "";
        width: 16px;
        height: 21px;
        bottom: -1px;
        background-image: url("../img/download_arrow.svg");
        background-repeat: no-repeat;
        right: -24px;
      }
    }

    &--26 {
      font-size: 26px;
      line-height: 30px;

      @media (max-width: $md) {
        font-size: 24px;
        line-height: 28px;
      }

      @media (max-width: $sm) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    &--20 {
      font-size: 20px;
      line-height: 26px;

      @media (max-width: $md) {
        font-size: 18px;
        line-height: 24px;
      }

      @media (max-width: $sm) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &--16 {
      font-size: 16px;
      line-height: 24px;

      @media (max-width: $sm) {
        font-size: 14px;
      }
    }

    &--right-arrow {
      &::after {
        content: "";
        background-image: url('/img/landing/right-arrow.svg');
        background-repeat: no-repeat;
        height: 15px;
        width: 22px;
        position: absolute;
        background-size: contain;
        right: -35px;
        top: 25%;

        @media (max-width: $sm) {
          height: 15px;
          width: 16px;
          background-size: contain;
          right: -25px;
          top: 4px;
        }
      }
    }

    &--left-arrow {
      padding-left: 40px;

      @media (max-width: $sm) {
        padding-left: 25px;
      }

      &::before {
        content: "";
        background-image: url('/img/landing/right-arrow.svg');
        transform: rotate(180deg);
        background-repeat: no-repeat;
        height: 15px;
        width: 22px;
        position: absolute;
        background-size: contain;
        left: 0;
        top: 15%;

        @media (max-width: $sm) {
          height: 15px;
          width: 16px;
          background-size: contain;
          top: 0px;
        }
      }
    }
  }

  .eg-text__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .eg-text__link + .eg-text__link {
      margin-top: 1rem;
    }
  }
}

.eg-link {
  &:hover,
  &:focus {
    text-decoration: none;

    span {
      border-bottom: 0.5px solid;
    }
  }
}
