.eg-team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px 8%;
  padding-bottom: 40px;
  padding-top: 20px;

  @media (min-width: 1640px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (max-width: $lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $md) {
    grid-gap: 40px 7%;
  }

  @media (max-width: $sm) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px 7%;
  }

  @media (max-width: $xs) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
    padding-top: 0px;
  }

  .eg-team-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-img {
      margin-bottom: 1rem;
      clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);

      @media (max-width: $sm) {
        width: 180px;
        height: 180px;
      }

      @media (max-width: $xs) {
        width: 130px;
        height: 130px;
      }
    }

    &-name {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 0.25rem;

      @media (max-width: $xs) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-role {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: $light-red;
      margin-bottom: 0.75rem;

      @media (max-width: $xs) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .eg-team-grid__contribute {
    clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);
    width: 200px;
    margin: 0 auto;
    height: 200px;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    &-title {
      color: $white;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0;
    }

    &-subtitle {
      color: $light-red;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0;
    }

    @media (max-width: $xs) {
      width: 130px;
      height: 130px;
    }
  }
}
