<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ergo platform</title>
    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.PostCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $js := resources.Get "js/index.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <!-- <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script> -->
    <script src="/js/index.js" async></script>
  </head>
  <body>
    {{- partial "header.html" . -}}

    {{ block "main" . }}
    {{ end }}
  </body>
</html>
