<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="preload" href="/fonts/LabGrotesque-kern-latin.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/LabGrotesque-Mono-num.woff" as="font" type="font/woff" crossorigin="anonymous">

    {{ if .Description }}
      <meta name="description" content="{{ .Description }}">
    {{ else if .IsPage }}
      <meta name="description" content="{{ .Summary | plainify }}">
    {{ else }}
      <meta name="description" content="Ergo is a resilient platform for contractual money">
    {{ end }}
    {{ block "metaOg" . }}
    {{ end }}

    {{ $title := print .Title " | " .Site.Title }}
    <title>{{- print $title | default .Site.Title -}}</title>

    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.PostCSS | resources.Minify | resources.Fingerprint "md5" }}

    <link rel="preload" href="{{ $style.Permalink }}" as="style">
    <link rel="stylesheet" href="{{ $style.Permalink }}">


    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101239081);</script>
    <script async src="//static.getclicky.com/js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        {{- partial "header.html" . -}}

        {{ block "main" . }}
        {{ end }}
      </div>

      {{- partial "footer.html" . -}}
    </div>
    {{ $js := resources.Get "js/index.js" }}
    {{ $jsFile := $js | resources.Minify | resources.Fingerprint "md5" }}
    <script type="text/javascript" src="{{ $jsFile.Permalink }}" defer></script>
    {{ block "footerscripts" . }}
    {{ end }}
  </body>
</html>
