{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "tech_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "tech_first-section_first_paragraph"}}</p>
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "tech_first-section_second_paragraph"}}</p>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2">
        <h2 class="eg-title">{{ T "tech_second_title" }}</h2>
        <div class="grid-container-1k2__main-section grid-container-1k1 grid-container-1k1--md-margins">
          <div class="eg-text">
            <div class="eg-mb-1">
              <a
                class="eg-text__link eg-text__link--26 eg-text__link--download eg-link"
                href="{{ T `documents_ergo_platform_link` }}"
              ><span>{{ T "documents_ergo_platform" }}</span></a>
            </div>
            <div>
              <a
                class="eg-text__paragraph eg-link"
                href="{{ T `documents_ergo_platform_link` }}"
              ><span>{{ T "documents_ergo_platform_text" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a
                class="eg-text__link eg-text__link--26 eg-text__link--download eg-link"
                href="/docs/ErgoScript.pdf"><span>{{ T "documents_ergoscript" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="/docs/ErgoScript.pdf"><span>{{ T "documents_ergoscript_text" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a
                class="eg-text__link eg-text__link--26 eg-text__link--download eg-link"
                href="{{ T `documents_ergo_teaser_link` }}"><span>{{ T "documents_ergo_teaser" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="{{ T `documents_ergo_teaser_link` }}"><span>{{ T "documents_ergo_teaser_text" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--26 eg-text__link--download eg-link" href="/docs/AdvancedErgoScriptTutorial.pdf"><span>{{ T "documents_ergo_script_adv" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="/docs/AdvancedErgoScriptTutorial.pdf"><span>{{ T "documents_ergo_script_adv_text" }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2  container--last-container  container--lg-padding-bottom">
        <div>
          <h2 class="eg-title">{{ T "tech_fourth_title" }}</h2>
        </div>
        <div class="grid-container-1k2__main-section grid-container-1k1 grid-container-1k1--md-margins">
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://ergoplatform.org/docs/CBT_2020_ZeroJoin_Combining_Zerocoin_and_CoinJoin_v3.pdf"><span>CBT_2020_ZeroJoin_Combining_Zerocoin_and_CoinJoin_v3</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://ergoplatform.org/docs/CBT_2020_ZeroJoin_Combining_Zerocoin_and_CoinJoin_v3.pdf"><span>Alexander Chepurnoy, Amitabh Saxena</span></a>
            </div>
          </div>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2  container--last-container  container--lg-padding-bottom">
        <div>
          <h2 class="eg-title">{{ T "tech_third_title" }}</h2>
        </div>
        <div class="grid-container-1k2__main-section grid-container-1k1 grid-container-1k1--md-margins">
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2020/560.pdf"><span>ZeroJoin: Combining ZeroCoin and CoinJoin</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2020/560.pdf"><span>Alexander Chepurnoy, Amitabh Saxena</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2016/994.pdf"><span>{{ T "tech_third-section_first_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2016/994.pdf"><span>{{ T "tech_third-section_first_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://fc18.ifca.ai/bitcoin/papers/bitcoin18-final18.pdf"><span>{{ T "tech_third-section_second_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://fc18.ifca.ai/bitcoin/papers/bitcoin18-final18.pdf"><span>{{ T "tech_third-section_second_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2017/731.pdf"><span>{{ T "tech_third-section_third_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2017/731.pdf"><span>{{ T "tech_third-section_third_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://arxiv.org/pdf/1806.10116"><span>{{ T "tech_third-section_fourth_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://arxiv.org/pdf/1806.10116"><span>{{ T "tech_third-section_fourth_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2018/129.pdf"><span>{{ T "tech_third-section_fifth_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2018/129.pdf"><span>{{ T "tech_third-section_fifth_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2018/968.pdf"><span>{{ T "tech_third-section_sixth_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2018/968.pdf"><span>{{ T "tech_third-section_sixth_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://pdfs.semanticscholar.org/d51b/51fd136b1b74ece7caa6a7cb9c8f74b1b829.pdf"><span>{{ T "tech_third-section_seventh_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://pdfs.semanticscholar.org/d51b/51fd136b1b74ece7caa6a7cb9c8f74b1b829.pdf"><span>{{ T "tech_third-section_seventh_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://ergoplatform.org/docs/paper_26.pdf"><span>{{ T "tech_third-section_eight_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://ergoplatform.org/docs/paper_26.pdf"><span>{{ T "tech_third-section_eight_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2020/044.pdf"><span>{{ T "tech_third-section_nine_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2020/044.pdf"><span>{{ T "tech_third-section_nine_paragraph" }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
