{{define "main"}}
  <main>
    <section class="container container--margins-y grid-container-1k2 eg-team">
      <h1 class="eg-title eg-mb-3 eg-mb-sm-1-5">ERGO Team</h1>
      <div class="grid-container-1k2__main-section">
        <p class="eg-team__subtitle">The ERGO Team has a solid background in core development with cryptocurrencies and blockchain frameworks including NXT, Scorex, CARDANO and WAVES. Explore our <a class="eg-link eg-link--red" href="{{ `documents`| absLangURL | safeURL }}"><span>key research</span></a>. Below are brief biographies for some of the core ERGO team but there are many other developers and community members involved, some of whom are anonymous.</p>
      </di>
      <div class="eg-team-quote">
        <h3 class="eg-team-quote__content">“Ergo is an extremely exciting project run by IOHK alums Dmitry and Alex. I'm happy to see it grow and evolve.”</h3>
        <p class="eg-team-quote__author">— Charles Hoskinson, <a class="eg-link eg-link--red" href="https://twitter.com/IOHK_Charles/status/944941679458492417" target="_blank"><span>Twitter</span></a></p>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y">
        <h2 class="eg-title">Core and Ecosystem Development</h2>
        <div class="eg-team-grid">
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/chepurnoy.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Alexander Chepurnoy</h3>
            <p class="eg-team-grid__item-subtitle">
              Active in blockchain since 2011, Chepurnoy (kushti) has written over 20 academic papers and more than 15 years experience in software development. Co-founder of ERGO, he was also a co-founder of smartcontract.com (now Chainlink), a core developer at NXT, and one of the first employees at IOHK, where he was a Research Fellow and Team Scorex Manager.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://twitter.com/chepurnoy"><span>Twitter</span></a>
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/kushti"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/meshkov.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Dmitry Meshkov</h3>
            <p class="eg-team-grid__item-subtitle">
              Meshkov (catena) has a PhD in physics and over 10 years experience in software development. He has written several peer-reviewed papers on crypto and has worked with Chepurnoy on the Scorex project since 2015. Co-founder and Core Developer at ERGO, Meshkov was an RD Researcher at IOHK, focussed on building a framework for blockchain prototyping.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://twitter.com/dmitrymeshkov"><span>Twitter</span></a>
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://www.linkedin.com/in/dmeshkov/?originalSubdomain=ru"><span>Linkedin</span></a>
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/catena2w"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/slesarenko.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Alexander Slesarenko</h3>
            <p class="eg-team-grid__item-subtitle">
              Slesarenko (morphic) is an ERGO Foundation Board Member and graduate of Applied Mathematics from Udmurt State University. He is founder of Scalan and has extensive experience in software development as a team leader, architect and researcher. Slesarenko is a Blockchain Core Developer and Lead Developer of ErgoScript at ERGO, and an Expert Team Leader at Huawei Research Lab.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://twitter.com/avslesarenko?lang=en"><span>Twitter</span></a>
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/aslesarenko"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/kornacki.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Robert Kornacki</h3>
            <p class="eg-team-grid__item-subtitle">
              Kornacki, the creator and host of the <a href="https://ergocast.io/" class="eg-link eg-link--red" target="_blank"><span>Ergo Cast</span></a>, has been an ERGO community member from day 1 and has been  involved with Cardano since 2017. In 2019, he was named a dLab/EMURGO Fellow and in 2020, as EMURGO’s Head of R&D, he became a board member of the <a class="eg-link eg-link--red" href="{{ `foundation` | absLangURL | safeURL }}"><span>ERGO Foundation</span></a>.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/robkorn"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/zadorozhnyi.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Denys Zadorozhnyi</h3>
            <p class="eg-team-grid__item-subtitle">
              Zadorozhnyi (greenhat) is a Software Engineer.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://www.linkedin.com/in/denyszadorozhnyi/?originalSubdomain=il"><span>Linkedin</span></a>
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/greenhat"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/saxena.png" alt="">
            <h3 class="eg-team-grid__item-title">Amitabh Saxena</h3>
            <p class="eg-team-grid__item-subtitle">
              Saxena (scalahub) is a Software Engineer, co-author of <a class="eg-link eg-link--red" href="{{ `documents` | absLangURL | safeURL }}"><span>many papers</span></a>.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/scalahub"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/pp.jpg" alt="">
            <h3 class="eg-team-grid__item-title">Mohammad Hasan Samadani</h3>
            <p class="eg-team-grid__item-subtitle">
              Mohammad (mhs_sam) has a PhD in computer science and over 12 years of experience in security and software development as product owner, researcher, and team leader.
              He developed the ERGO mining softwares, Stratum server, and ergopool (smart contract based pool to bypass pool-resistancy of Autolykos v1) and became an ERGO Foundation Board Member in 2020.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/mhssamadani"><span>Github</span></a>
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://twitter.com/mhs_sam"><span>Twitter</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/oskin.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Ilya Oskin</h3>
            <p class="eg-team-grid__item-subtitle">
              Oskin (oskin1) is a Software Engineer, Lead Scala Developer at mail.ru.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/oskin1"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/usov.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Dmitry Usov</h3>
            <p class="eg-team-grid__item-subtitle">
              Usov (eilemust / deadit) is a Software Engineer, ex. Frontend Team Lead at Citymobil, Javascript developer at Chatfuel.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/deadit"><span>Github</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/knizhnik.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Konstantin Knizhnik</h3>
            <p class="eg-team-grid__item-subtitle">
              Knizhnik has a PhD in Computer Science and is an experienced Software Solution Architect.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://github.com/knizhnik"><span>Github</span></a>
              <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://www.linkedin.com/in/konstantin-knizhnik-433629/?originalSubdomain=ru"><span>Linkedin</span></a>
            </div>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/kharin.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Vasily Kharin</h3>
            <p class="eg-team-grid__item-subtitle">
              Kharin is a Researcher and a co-author, along with Alexander Chepurnoy and Dmitry Meshkov, of ‘<a href="https://arxiv.org/pdf/1806.10116.pdf" target="_blank" class="eg-link eg-link--red"><span>Self-Reproducing Coins as Universal Turing Machine</span></a>’, a novel approach towards achieving Turing-completeness of a blockchain system.
            </p>
          </div>
          <div class="eg-team-grid__item">
            <img class="eg-team-grid__item-img" src="/img/team_v2/aksarin.jpeg" alt="">
            <h3 class="eg-team-grid__item-title">Mike Aksarin</h3>
            <p class="eg-team-grid__item-subtitle">
              Aksarin is a Scala backend developer. Graduated from Saint Petersburg ITMO University with a Masters in Computer Science. He has worked for companies such as Siemens Business Services, Gazprom, and Yandex.
            </p>
            <div class="eg-team-social">
              <a class="eg-team-social__item eg-link eg-link--red" href="https://github.com/mike-aksarin" target="_blank"><span>Github</span></a>
            </div>
          </div>
        </div>
        <div class="eg-team-other">
          <h2 class="eg-title">Others Members of Core and Ecosystem Development Team</h2>
          <div class="eg-team-other-grid">
            <div>
              anon_real
            </div>
            <div>
              anon2020a
            </div>
            <div>
              anon2020s
            </div>
            <div>
              anon92048
            </div>
            <div>
              Big Evil Solo Miner.
            </div>
            <div>
              Eugene Gostkin
            </div>
            <div>
              Sininen Taivas
            </div>
            <div>
              gagarin55
            </div>
            <div>
              Sebastien Guillemot
            </div>
            <div>
              DarkSideOfBrrrrr
            </div>
          </div>
        </div>
        <div class="eg-team-other">
          <h2 class="eg-title">Promotion and Community Management</h2>
          <div class="eg-team-grid">
            <div class="eg-team-grid__item">
              <img class="eg-team-grid__item-img" src="/img/team_v2/spodymek.jpeg" alt="">
              <h3 class="eg-team-grid__item-title">Martin Spodymek</h3>
              <p class="eg-team-grid__item-subtitle">
                Martin (mx) is an engineer and graduate in Automatics and Robotics. He has over 5 years experience in crypto and is a co-founder of the WAVES Platform. Martin is an ERGO Foundation Board Member and passionate about open, truly decentralised blockchain technology.
              </p>
              <div class="eg-team-social">
                <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://twitter.com/ergobug?lang=en-gb"><span>Twitter</span></a>
              </div>
            </div>
            <div class="eg-team-grid__item">
              <img class="eg-team-grid__item-img" src="/img/team_v2/simpson.jpeg" alt="">
              <h3 class="eg-team-grid__item-title">Justin Simpson</h3>
              <p class="eg-team-grid__item-subtitle">
                Justin has 13 years of Investment Banking experience and has been involved with crypto and Bitcoin since 2013. Now an ERGO Board Member and exclusively focused on crypto, he is most passionate about open, permissionless and decentralised blockchain platforms.
              </p>
            </div>
            <div class="eg-team-grid__item">
              <img class="eg-team-grid__item-img" src="/img/team_v2/manzanares.jpg" alt="">
              <h3 class="eg-team-grid__item-title">Guillermo Manzanares</h3>
              <p class="eg-team-grid__item-subtitle">
                Guillermo (mentalist420) has been involved in the Blockchain ecosystem since 2014. He is an ERGO Community Manager and dedicates his time and energy into being an essential conduit, strategist and advisor for the community and the projects he supports.
              </p>
            </div>
            <div class="eg-team-grid__item">
              <img class="eg-team-grid__item-img" src="/img/team_v2/brandon.jpeg" alt="">
              <h3 class="eg-team-grid__item-title">Guy Brandon</h3>
              <p class="eg-team-grid__item-subtitle">
                Guy is an ERGO Community Volunteer and author of many of the excellent <a class="eg-link eg-link--red" href="{{ `blog` | absLangURL | safeURL}}"><span>Blogs</span></a>
              </p>
              <div class="eg-team-social">
                <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://www.linkedin.com/in/guy-brandon-57260916/"><span>Linkedin</span></a>
              </div>
            </div>
            <div class="eg-team-grid__item">
              <img class="eg-team-grid__item-img" src="/img/team_v2/florian.jpeg" alt="">
              <h3 class="eg-team-grid__item-title">Filippo Florián</h3>
              <p class="eg-team-grid__item-subtitle">
                Filippo has been a blockchain and Bitcoin enthusiast since 2013. He is a co-founder of the Blockchain Education Network, a consultant and advisor Crea Network, COO of the Lescovex Exchange and an ERGO Community Volunteer.
              </p>
              <div class="eg-team-social">
                <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://twitter.com/FilippoUnits"><span>Twitter</span></a>
              </div>
            </div>
            <div class="eg-team-grid__item">
              <img class="eg-team-grid__item-img" src="/img/team_v2/sakata.jpeg" alt="">
              <h3 class="eg-team-grid__item-title">Ollie (Sakata)</h3>
              <p class="eg-team-grid__item-subtitle">
                Sakata, otherwise known as Ollie, has volunteered for the role as co-host for the Ergo Cast to assist in delivering its vision. Ollie is a member within the ERGO community and is studying towards a degree in Computing outside of the podcast.
              </p>
              <div class="eg-team-social">
                <a class="eg-team-social__item eg-link eg-link--red" target="_blank" href="https://twitter.com/nipopow"><span>Twitter</span></a>
              </div>
            </div>
          </div>
        <div class="eg-team-other">
          <h2 class="eg-title">Other Members of Promotion and Community Management</h2>
          <div class="eg-team-other-grid">
            <div>
              Noah Hudson
            </div>
            <div>
              Antonio Madeira
            </div>
            <div>
              Bez
            </div>
            <div>
              Carlos M Parada
            </div>
            <div>
              Terri
            </div>
            <div>
              Vsevolod
            </div>
          </div>
        </div>
        <div class="eg-team-quote">
          <h3 class="eg-team-quote__content">Huge thanks to <a href="https://ergo101.org/" target="_blank" class="eg-link eg-link--black"><span>Ergo101</span></a> for the design and content of this page.</a></h3>
        </div>
      </div>
    </section>
    <!-- <section class="container grid-container-1k2 container--margins-y ">
      <h2 class="eg-title eg-mb-3 eg-mb-sm-1-5"></h2>
      <di>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">kushti (Alexander Chepurnoy)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">catena (Dmitry Meshkov)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">morphic (Alexander Slesarenko)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Denys Zadorozhnyi</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Amitabh Saxena</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Ilya Oskin</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Dmitry Usov (eilemust)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Vasily Kharin</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Mike Aksarin</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Sininen Taivas</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Andyceo</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Anon92048</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Robert Kornacki</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Jason Davies</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Big Evil Solo Miner</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Konstantin Knizhnik</p>
        </div>
      </div>
    </section>-->
    <!-- <section class="container container--last-container">
      <div class="grid-container-1k2 border-section container--margins-y ">
        <h2 class="eg-title eg-mb-3 eg-mb-sm-1-5">Promotion and Community management</h2>
        <div class="grid-container-1k2__main-section eg-team-grid">
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Guillermo Manzanares</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Justin Simpson</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Noah Hudson</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Martin Spodymek</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Filippo Florián</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Guy Brandon</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Carlos M Parada</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Bez</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Vsevolod</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Terri</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Antonio Madeira</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Sha Li</p>
          </div>
        </div>
      </div>
    </section> -->
  </main>
{{end}}
