{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "team_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-3">{{ T "team_first-section_first_paragraph" | safeHTML }}</p>
        <div class="grid-container-1k1 grid-container-1k1--md-margins">
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#report-bugs"><span>{{ T "team_first-section_first-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#report-bugs"><span class="eg-text__paragraph eg-text__paragraph--18">{{ T "team_first-section_first-item_paragraph"}}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#write-code"><span>{{ T "team_first-section_second-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#write-code"><span>{{ T "team_first-section_second-item_paragraph"}}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#translation"><span>{{ T "team_first-section_third-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#translation"><span>{{ T "team_first-section_third-item_paragraph"}}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link--26 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#documentation"><span>{{ T "team_first-section_fourth-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph--18 eg-link" href="https://github.com/ergoplatform/ergo/wiki/Contribute#documentation"><span>{{ T "team_first-section_fourth-item_paragraph"}}</span></a>
            </div>
          </div>
<!--          <div class="eg-text">
            <div class="eg-mb-0-5">
              <a class="eg-text__link eg-text__link&#45;&#45;26 eg-link" href="#"><span>{{ T "team_first-section_fifth-item_title"}}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-text__paragraph&#45;&#45;18 eg-link" href="#"><span>{{ T "team_first-section_fifth-item_paragraph"}}</span></a>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    <section class="container grid-container-1k2 border-section container--margins-y ">
      <h2 class="eg-title eg-mb-3 eg-mb-sm-1-5">Core and Ecosystem Development</h2>
      <div class="grid-container-1k2__main-section eg-team-grid">
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">kushti (Alexander Chepurnoy)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">catena (Dmitry Meshkov)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">morphic (Alexander Slesarenko)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Denys Zadorozhnyi</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Amitabh Saxena</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Ilya Oskin</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Dmitry Usov (eilemust)</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Vasily Kharin</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Mike Aksarin</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Sininen Taivas</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Andyceo</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Anon92048</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Robert Kornacki</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Jason Davies</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Big Evil Solo Miner</p>
        </div>
        <div class="eg-team-grid__item">
          <p class="eg-team-grid__item-name">Konstantin Knizhnik</p>
        </div>
      </div>
    </section>
    <section class="container container--last-container">
      <div class="grid-container-1k2 border-section container--margins-y ">
        <h2 class="eg-title eg-mb-3 eg-mb-sm-1-5">Promotion and Community management</h2>
        <div class="grid-container-1k2__main-section eg-team-grid">
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Guillermo Manzanares</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Justin Simpson</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Noah Hudson</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Martin Spodymek</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Filippo Florián</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Guy Brandon</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Carlos M Parada</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Bez</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Vsevolod</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Terri</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Antonio Madeira</p>
          </div>
          <div class="eg-team-grid__item">
            <p class="eg-team-grid__item-name">Sha Li</p>
          </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
