{{define "main"}}
  <main>
    <section class="container container--top-content container--lg-padding-bottom grid-container-1k2">
      <h2 class="eg-title">{{ T "software_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_first_paragraph"}}</p>
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "software_first-section_second_paragraph"  | safeHTML}}</p>
        <a href="https://github.com/ergoplatform/ergo/releases" target="_blank" class="eg-text__link eg-link"><span>Latest releases</span></a>
      </div>
    </section>
  </main>
{{end}}
