{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "wallets_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-0">{{ T "wallets_first-section_paragraph" | safeHTML}}</p>
      </div>
    </section>
    <section class="container container--last-container">
      <div class="border-section container--margins-y grid-container-1k2">
        <h2 class="eg-title">{{ T "wallets_second_title" }}</h2>
        <div class="grid-container-1k2__main-section eg-table">
          <table>
            <tbody>
              <tr>
                <td class="eg-table__title eg-table--bg-red">{{T "wallets_table_first_title"}}</td>
                <td class="eg-table__title">{{T "wallets_table_second_title"}}</td>
                <td class="eg-table__title">{{T "wallets_table_third_title"}}</td>
                <td class="eg-table__title">{{T "wallets_table_fourth_title"}}</td>
              </tr>
              <tr>
                <td class="eg-table__text eg-table--bg-light-white">
                  <div class="eg-table__group eg-text">
                    <a href="{{ T `wallets_ergo_wallet-doc_link`}}"><img src="/img/wallets/ergo.svg" alt="ergo logotype"></a>
                    <a href="{{ T `wallets_ergo_wallet-doc_link`}}" class="eg-link  eg-text--color-black"><span>Ergo</span></a>
                  </div>
                </td>
                <td class="eg-table__text">{{T "wallets_table_second-column_third_title"}}</td>
                <td class="eg-table__text"><img src="/img/circle_arrow_red.svg" alt="have"></td>
                <td class="eg-table__text"><img src="/img/circle_arrow_red.svg" alt="have"></td>
              </tr>
              <tr>
                <td class="eg-table__text eg-table--bg-light-white eg-text">
                  <div class="eg-table__group eg-text">
                    <a href="https://magnumwallet.co/?coin=erg"><img src="/img/wallets/magnum.svg" width="30" height="30" alt="bitgo logotype"></a>
                    <a href="https://magnumwallet.co/?coin=erg" class="eg-link  eg-text--color-black"><span>Magnum</span></a>
                  </div>
                </td>
                <td class="eg-table__text">{{T "wallets_table_second-column_first_title"}}</td>
                <td class="eg-table__text"><img src="/img/circle_cancel_black.svg" alt="have"></td>
                <td class="eg-table__text"><img src="/img/circle_cancel_black.svg" alt="have"></td>
              </tr>
              <tr>
                <td class="eg-table__text eg-table--bg-light-white eg-text">
                  <div class="eg-table__group eg-text">
                    <a href="https://github.com/coinbarn/coinbarn-extension"><img src="/img/wallets/coinbarn.png" width="30" height="30" alt="bitgo logotype"></a>
                    <a href="https://github.com/coinbarn/coinbarn-extension" class="eg-link  eg-text--color-black"><span>Coinbarn</span></a>
                  </div>
                </td>
                <td class="eg-table__text">{{T "wallets_table_second-column_first_title"}}, {{T "wallets_table_second-column_third_title"}}</td>
                <td class="eg-table__text"><img src="/img/circle_cancel_black.svg" alt="have"></td>
                <td class="eg-table__text"><img src="/img/circle_cancel_black.svg" alt="have"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
{{ end}}
