{{define "main"}}
  <main>
    <section class="left-lines">
      <img src="/img/lines.svg" alt="" class="left-lines__img">
      <div class="container container--top-content grid-container-1k2 container--left-lines container--lg-padding-bottom">
        <h2 class="eg-title">{{ T "news_first_title" }}</h2>
        <div>
          <div class="download grid-container-1k1 grid-container--md-margins">
            {{ $langNews := where .Pages "Section" "news" }}
            {{ with $langNews }}
              {{ range $langNews }}
                <div class="eg-text download__post d-none">
                  <h3 class="eg-text__paragraph eg-text__paragraph--16 eg-text--color-red eg-mb-0-5">{{ .Date.Format "2 January, 2006" }}</h3>
                  <div class="eg-mb-0-5">
                    <a class="eg-text__link eg-text__link--26  eg-link eg-text--color-black" href="{{.Params.link}}">
                      <span>{{ .Title }}</span>
                    </a>
                  </div>
                  {{ if isset .Params "subtitle" }}
                    <a class="eg-text__link eg-text__link--16 eg-link eg-text--color-black" href="{{.Params.link}}"><span>{{ .Params.subtitle }}</span></a>
                  {{ end}}
                </div>
              {{end}}
            {{ else }}
              {{ range .Site.Home.AllTranslations }}
                {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                  {{ $defaultLangPages := where .Pages "Section" "news" }}
                  {{ range $defaultLangPages }}
                    <div class="eg-text download__post d-none">
                      <h3 class="eg-text__paragraph eg-text__paragraph--16 eg-text--color-red eg-mb-0-5">{{ .Date.Format "2 January, 2006" }}</h3>
                      <div class="eg-mb-0-5">
                        <a class="eg-text__link eg-text__link--26  eg-link eg-text--color-black" href="{{.Params.link}}">
                          <span>{{ .Title }}</span>
                        </a>
                      </div>
                      {{ if isset .Params "subtitle" }}
                        <a class="eg-text__link eg-text__link--16 eg-link eg-text--color-black" href="{{.Params.link}}"><span>{{ .Params.subtitle }}</span></a>
                      {{ end}}
                    </div>
                  {{end}}
                {{end}}
              {{ end }}
            {{ end }}
          </div>
          <button class="download-button eg-btn eg-btn--outline-orange d-none">{{ T "news_load_more" }}</button>
        </div>
      </div>
    </section>
  </main>
{{end}}
