
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/svg+xml" href="/img/fav_ergo.svg" />
    <title>Ergo platform</title>
    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.PostCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $js := resources.Get "js/index.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <!-- <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script> -->
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <div class="error-page">
      <img src="/img/lines.svg" alt="lines bg" class="error-page__img">
      <div class="container">
        <p class="error-page__number">404</p>
        <p class="error-page__text">{{ T "error_page_text" }}</p>
        {{ with .Site.GetPage "home" }}
          <a href="{{ .Permalink }}" class="header-section__button eg-btn eg-btn--orange">
            {{ T "error_page_button" }}
          </a>
        {{ end }}
      </div>
    </div>
  </body>
</html>
