<footer class="eg-footer">
  <div class="container eg-footer__container">
    <div class="eg-footer__item">
      <div class="eg-footer__name">
        <p class="eg-footer__name-title">Ergo Platform</p>
        <a href="mailto:hello@ergoplatform.org" class="eg-footer__name-mail">hello@ergoplatform.org</a>
      </div>
      <div class="eg-footer__copyright">
        <span class="eg-footer__copyright-paragraph">Ergo Platform © 2019</span>
        <ul class="eg-footer__copyright-list">
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="#">Privacy policy</a></li>
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="#">Legal</a></li>
        </ul>
      </div>
    </div>
    <div class="eg-footer__item">
      <form class="eg-footer__insights">
        <label for="" class="eg-footer__insights-label">Receive insight and news from Ergo</label>
        <div>
          <div class="eg-footer__insights-group">
            <input type="text" class="eg-footer__insights-input" placeholder="Your email"><button class="eg-footer__insights-button"><img src="/img/footer-arrow-right.svg" alt="arrow-right"></button>
          </div>
        </div>
      </form>
      <div class="eg-footer__social">
        <p class="eg-footer__social-label">Social media</p>
        {{- partial "social.html" . -}}
      </div>
      <div class="eg-footer__copyright eg-footer__copyright--mobile">
        <span class="eg-footer__copyright-paragraph">Ergo Platform © 2019</span>
        <ul class="eg-footer__copyright-list">
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="#">Privacy policy</a></li>
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="#">Legal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
