<footer class="eg-footer">
  <div class="container eg-footer__container">
    <div class="eg-footer__item">
      <div class="eg-footer__name">
        <p class="eg-footer__name-title">Ergo Platform</p>
        <a href="mailto:ergoplatform@protonmail.com" class="eg-footer__name-mail eg-link"><span>ergoplatform@protonmail.com</span></a>
      </div>
      <div class="eg-footer__copyright">
        <span class="eg-footer__copyright-paragraph">Ergo Platform © 2019</span>
        <ul class="eg-footer__copyright-list">
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="{{ `privacy` | absLangURL | safeURL }}">{{ T "privacy_policy_link" }}</a></li>
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="{{ `legal` | absLangURL | safeURL}}">{{ T "legal_link" }}</a></li>
        </ul>
      </div>
    </div>
    <div class="eg-footer__item">
      <form class="eg-footer__insights">
        <label for="subs_inp" class="eg-footer__insights-label">{{ T "insights_label" }}</label>
        <div>
          <div class="eg-footer__insights-group">
            <input type="text" id="subs_inp" class="eg-footer__insights-input" placeholder="{{ T `insights_input` }}">
            <button class="eg-footer__insights-button">
              <svg class="eg-footer__insights-image" width="30px" height="22px" viewBox="0 0 30 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Fill 1 Copy 6</title>
                <desc>Created with Sketch.</desc>
                <g id="main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1096.000000, -3673.000000)" fill="#FFFFFF" id="Fill-1-Copy-6">
                        <polygon points="1115.08732 3673 1114.22888 3673.86529 1123.6754 3683.38775 1096 3683.38775 1096 3684.61164 1123.6754 3684.61164 1114.22888 3694.13471 1115.08732 3695 1126 3683.99969"></polygon>
                    </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </form>
      <div class="eg-footer__social">
        <p class="eg-footer__social-label">{{ T "social_media" }}</p>
        {{- partial "social.html" . -}}
      </div>
      <div class="eg-footer__copyright eg-footer__copyright--mobile">
        <span class="eg-footer__copyright-paragraph">Ergo Platform © 2019</span>
        <ul class="eg-footer__copyright-list">
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="{{ `privacy` | absLangURL | safeURL }}">{{ T "privacy_policy_link" }}</a></li>
          <li class="eg-footer__copyright-item"><a class="eg-footer__copyright-link" href="{{ `legal` | absLangURL | safeURL}}">{{ T "legal_link" }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
