<div class="eg-slider">
  <div class="eg-slider__nav timeline-nav">
    {{ range $.Site.Data.slider.years }}
      <div class="eg-slider__nav-item">{{ . }}</div>
    {{ end }}
  </div>
  <div class="timeline-slider container">
    {{ range $.Site.Data.slider.content }}
      <div class="eg-slider__slide">
        <div class="eg-slider__slide-content">
          {{ range . }}
              <div class="eg-slider__slide-group">
                <p class="eg-slider__slide-year">{{ T .date }}</p>
                <p class="eg-slider__slide-paragraph">{{ T .text }}</p>
              </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
