<div class="eg-slider">
  <div class="eg-slider__nav timeline-nav">
    <div class="eg-slider__nav-item">2019</div>
    <div class="eg-slider__nav-item">2018</div>
    <div class="eg-slider__nav-item">2017</div>
    <div class="eg-slider__nav-item">2016</div>
    <div class="eg-slider__nav-item">2015</div>
    <div class="eg-slider__nav-item">2014</div>
  </div>
  <div class="timeline-slider">
    <div class="eg-slider__slide">
      <div class="eg-slider__slide-content">
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">14 March</p>
          <p class="eg-slider__slide-paragraph">Testnet 2 release</p>
        </div>
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">02 February</p>
          <p class="eg-slider__slide-paragraph">Mining software for GPU</p>
        </div>
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">26 September</p>
          <p class="eg-slider__slide-paragraph">Mainnet release</p>
        </div>
      </div>
    </div>
    <div class="eg-slider__slide">
      <div class="eg-slider__slide-content">
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">15 September</p>
          <p class="eg-slider__slide-paragraph">Testnet 2 release</p>
        </div>
      </div>
    </div>
    <div class="eg-slider__slide">
      <div class="eg-slider__slide-content">
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">15 June</p>
          <p class="eg-slider__slide-paragraph">Testnet 2 release</p>
        </div>
      </div>
    </div>
    <div class="eg-slider__slide">
      <div class="eg-slider__slide-content">
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">15 January</p>
          <p class="eg-slider__slide-paragraph">Testnet 2 release</p>
        </div>
      </div>
    </div>
    <div class="eg-slider__slide">
      <div class="eg-slider__slide-content">
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">15 April</p>
          <p class="eg-slider__slide-paragraph">Testnet 2 release</p>
        </div>
      </div>
    </div>
    <div class="eg-slider__slide">
      <div class="eg-slider__slide-content">
        <div class="eg-slider__slide-group">
          <p class="eg-slider__slide-year">15 February</p>
          <p class="eg-slider__slide-paragraph">Testnet 2 release</p>
        </div>
      </div>
    </div>
  </div>
</div>
