{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "careers_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-3">
          {{ T "careers_first-section_first_paragraph" | safeHTML }}</p>
        <div class="grid-container-1k1 grid-container-1k1--md-margins">
          {{ range .Pages }}
            <div class="eg-text">
              <div>
                <a class="eg-text__link eg-text__link--26 eg-link"
                  href="{{.Permalink}}"><span>{{ .Title }}</span></a>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  </main>
{{end}}
