<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ergo platform</title>
    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.PostCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $js := resources.Get "js/index.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <!-- <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script> -->
    <script type="text/javascript" src="/js/index.js" defer></script>
  </head>
  <body>
    {{- $currentPage := . -}}
    <header class="eg-header">
      <nav class="eg-navbar">
        <div class="container eg-navbar__container">
          {{ with .Site.GetPage "home" }}
            <a href="{{ .Permalink }}" class="logotype">
              <img src="/img/logotype_white.svg" alt="logotype">
            </a>
          {{ end }}
          <div class="eg-navbar__collapse eg-navbar__collapse--black" id="navbarSupportedContent">
            <ul class="eg-nav">
              {{ range $index, $menuItem := .Site.Menus.mainmenu }}
                <li class="eg-nav__item {{ if $currentPage.IsMenuCurrent "mainmenu" . }}active{{ end }}">
                  <a
                    class="eg-nav__link"
                    href="/{{ .URL | absLangURL | safeURL }}"
                  >{{ with $menuItem.Pre }}{{ . | safeHTML }}{{ end }}{{ $menuItem.Name }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="eg-navbar__language">
            <div class="dd-language dropdown dd-language--white">
              <button
                class="dd-language__button dd-language__button--white dropdown__button"
                data-target-id="languageMenu"
              >
                {{ upper .Lang }}
              </button>
              <ul
                id="languageMenu"
                class="dropdown__menu dd-language__menu"
              >
                {{ range $.AllTranslations }}
                  {{ if ne .Language.Lang $currentPage.Lang }}
                    <li class="dd-language__item">
                      <a class="dd-language__link dd-language__link--white" href="{{ .Permalink }}">{{ upper .Language.Lang }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
          <button class="eg-navbar__trigger eg-navbar__trigger--white" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
          </button>
        </div>
      </nav>
    </header>
    <main class="landing">
      <section class="header-section">
        <div class="container header-section__container">
          <h1 class="header-section__title">
            <span class="header-section__title--red">{{ T "resilient_platform" }}</span>
            <br/>
            {{ T "contractual_money" }}
          </h1>
          <div class="header-section__icons">
            {{- partial "social.html" . -}}
          </div>
          <button class="header-section__button eg-btn eg-btn--orange">{{ T "getting_started" }}</button>
        </div>
      </section>
      <section class="subheader-section">
        <div class="container container--margins-y subheader-section__container tabs">
          <ul class="subheader-section__tabs">
            <li class="subheader-section__item"><a href="#tabs-1">{{ T "ergo_philosophy" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-2">{{ T "ergo_decentralization" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-3">{{ T "ergo_economy" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-4">{{ T "ergo_contractual" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-5">{{ T "ergo_clients" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-6">{{ T "ergo_survivability" }}</a></li>
          </ul>
          <div class="subheader-section__tabs-content">
            <div id="tabs-4">
              <h2 class="subheader-section__tab-title">Contractual money</h2>
              <p class="subheader-section__tab-paragraph">Ergo’s mission is improving every aspect of a blockchain, but our top priority is ensuring long term survivability. We are building correct-by-design blockchain, capable of continuing without depending on a centralized development team, regular hardforks and/or high end hardware requirements for the userbase. For example, our improvements will allow users to synchronize and efficiently validate blocks regardless of blockchain and state size.</p>
            </div>
            <div id="tabs-1">
              <h2 class="subheader-section__tab-title">Content heading 2</h2>
              <p class="subheader-section__tab-paragraph">Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="news-section">
        <div class="container container--margins-y">
          <h2 class="eg-title eg-title--black">{{ T "news_title"}}</h2>
          <div class="news-section__items">
            {{ $langNews := where .Pages "Section" "news" }}
            {{ with $langNews }}
              {{ range first 3 $langNews }}
                <a class="news-section__item" href="{{.Params.link}}">
                  <h3 class="news-section__item-title">{{ .Date.Format "2 January, 2006" }}</h3>
                  <p class="news-section__item-paragraph">{{ .Title }}</p>
                </a>
              {{end}}
            {{ else }}
              {{ range .Site.Home.AllTranslations }}
                {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                  {{ $defaultLangPages := where .Pages "Section" "news" }}
                  {{ range first 3 $defaultLangPages }}
                    <a class="news-section__item" href="{{.Params.link}}">
                      <h3 class="news-section__item-title">{{ .Date.Format "2 January, 2006" }}</h3>
                      <p class="news-section__item-paragraph">{{ .Title }}</p>
                    </a>
                  {{end}}
                {{end}}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </section>
      <section class="services-section">
        <div class="container container--margins-y grid-container-1k2 services-section__container">
          <h2 class="eg-title services-section__title">Ergo services</h2>
          <div class="services-section__items grid-container-1k1">
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Wallets</h3>
              <p class="eg-info__paragraph">Click and study existing Ergo wallets. Choose a wallet you like and start using Ergo immediately!</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Wallets</h3>
              <p class="eg-info__paragraph">Click and study existing Ergo wallets. Choose a wallet you like and start using Ergo immediately!</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Wallets</h3>
              <p class="eg-info__paragraph">Click and study existing Ergo wallets. Choose a wallet you like and start using Ergo immediately!</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Wallets</h3>
              <p class="eg-info__paragraph">Click and study existing Ergo wallets. Choose a wallet you like and start using Ergo immediately!</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Wallets</h3>
              <p class="eg-info__paragraph">Click and study existing Ergo wallets. Choose a wallet you like and start using Ergo immediately!</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Wallets</h3>
              <p class="eg-info__paragraph">Click and study existing Ergo wallets. Choose a wallet you like and start using Ergo immediately!</p>
            </a>
          </div>
        </div>
      </section>
      <section class="documents-section">
        <div class="container container--margins-y grid-container-1k2">
          <div>
            <h2 class="eg-title eg-title--black">Documents</h2>
          </div>
          <div class="services-section__items grid-container-1k1">
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Whitepaper</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">Ergo: The Resilient Platform For Contractual Money</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Whitepaper</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">ErgoScript, a Cryptocurrency Scripting Language Supporting Noninteractive Zero-Knowledge Proofs</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Yellowpaper</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">Ergo technical documentation</p>
            </a>
            <a class="eg-info eg-info--link" href="#">
              <h3 class="eg-info__title">Whitepaper</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">Advanced ErgoScript Tutorial</p>
            </a>
          </div>
        </div>
      </section>
      <section class="history-section">
        <div class="container container--margins-y">
          <h2 class="eg-title eg-title--black">Development history</h2>
          {{- partial "slider.html" . -}}
        </div>
      </section>
      <section class="blog-section">
        <div class="container container--margins-y blog-section__container">
          {{ $blogPages := where .Pages "Section" "blog" }}
          {{ with $blogPages }}
            {{ range first 2 $blogPages }}
              <div class="blog-section__item">
                <h3 class="blog-section__item-title">{{ .Title }}</h3>
                <div class="eg-author">
                  <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img">
                  <div class="eg-author__info">
                    <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                    <p class="eg-author__info-paragraph">{{ .Date.Format "2 January, 2006" }}</p>
                  </div>
                </div>
                <a class="blog-section__button eg-btn eg-btn--outline-orange" href="{{.Params.link}}">Read more</a>
              </div>
            {{end}}
          {{ else }}
            {{ range .Site.Home.AllTranslations }}
              {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                {{ $defaultBlogPages := where .Pages "Section" "blog" }}
                {{ range first 3 $defaultBlogPages }}
                  <div class="blog-section__item">
                    <h3 class="blog-section__item-title">{{ .Title }}</h3>
                    <div class="eg-author">
                      <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img">
                      <div class="eg-author__info">
                        <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                        <p class="eg-author__info-paragraph">{{ .Date.Format "2 January, 2006" }}</p>
                      </div>
                    </div>
                    <a class="blog-section__button eg-btn eg-btn--outline-orange" href="{{.Params.link}}">Read more</a>
                  </div>
                {{end}}
              {{end}}
            {{ end }}
          {{ end }}
        </div>
      </section>
      <section class="community-section eg-red-section">
        <div class="container eg-red-section__container">
          <h2 class="eg-red-section__white-title">Ergo platform community</h2>
          <div>
            <p class="eg-red-section__paragraph">Ergo is the open protocol that implements modern scientific ideas in the blockchain area. Ergo operates an open contributor model where anyone is welcome to contribute.</p>
            <a class="eg-red-section__link" href="">Contribute Ergo Platform</a>
          </div>
        </div>
      </section>
      {{- partial "footer.html" . -}}
    </main>
  </body>
</html>
