<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="preload" href="/fonts/LabGrotesque-kern-latin.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/LabGrotesque-Mono-num.woff" as="font" type="font/woff" crossorigin="anonymous">



    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.PostCSS | resources.Minify | resources.Fingerprint "md5" }}
    <link rel="preload" href="{{ $style.Permalink }}" as="style">

    <meta name="description" content="Ergo is a resilient platform for contractual money">
    <title>{{- .Site.Title -}}</title>
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $js := resources.Get "js/index.js" }}
    {{ $jsFile := $js | resources.Minify | resources.Fingerprint "md5" }}
    <script type="text/javascript" src="{{ $jsFile.Permalink }}" defer></script>
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101239081);</script>
    <script async src="//static.getclicky.com/js"></script>
  </head>
  <body>
    {{- $currentPage := . -}}
    <header class="eg-header eg-header--landing cars" >
      <nav class="eg-navbar">
        <div class="container eg-navbar__container">
          <div>
            {{ with .Site.GetPage "home" }}
              <a href="{{ .Permalink }}" class="logotype">
                <img src="/img/logotype_white.svg" alt="logotype">
              </a>
            {{ end }}
          </div>
          <div class="eg-navbar__content">
            <div class="eg-navbar__collapse eg-navbar__collapse--black">
              <ul class="eg-nav">
                <li
                  class="eg-nav__item dropdown"
                >
                  <a
                    class="eg-nav__link eg-link linear-wipe"
                    href="https://ergosummit.org"
                  >Ergo Summit</a>
                </li>
                <li
                  class="eg-nav__item dropdown"
                >
                  <button
                    class="eg-nav__link eg-link dropdown__button"
                  >Individuals</button>
                  <div class="nav-dropdown-menu">
                    {{ range .Site.Menus.individuals }}
                    {{ $menuUrl := .URL | absLangURL | safeURL }}
                      <a
                        class="nav-dropdown-menu__item"
                        href="{{ $menuUrl }}"
                        target="{{ if .Pre }} _blank {{ end}}"
                      ><span>{{ .Name }}</span></a>
                    {{end}}
                  </div>
                </li>
                <li
                  class="eg-nav__item dropdown"
                >
                  <button
                    class="eg-nav__link eg-link dropdown__button"
                  >Developers</button>
                  <div class="nav-dropdown-menu">
                    {{ range .Site.Menus.developers }}
                    {{ $menuUrl := .URL | absLangURL | safeURL }}
                      <a
                        class="nav-dropdown-menu__item"
                        href="{{ $menuUrl }}"
                        target="{{ if .Pre }} _blank {{ end}}"
                      ><span>{{ .Name }}</span></a>

                    {{end}}
                  </div>
                </li>
                <li
                  class="eg-nav__item dropdown"
                >
                  <button
                    class="eg-nav__link eg-link dropdown__button"
                  >Community</button>
                  <div class="nav-dropdown-menu">
                    {{ range .Site.Menus.community }}
                    {{ $menuUrl := .URL | absLangURL | safeURL }}
                      <a
                        class="nav-dropdown-menu__item"
                        href="{{ $menuUrl }}"
                        target="{{ if .Pre }} _blank {{ end}}"
                      ><span>{{ .Name }}</span></a>
                    {{end}}
                  </div>
                </li>

                {{ range .Site.Menus.other }}
                  {{ $menuUrl := .URL | absLangURL | safeURL }}
                  <li
                    class="eg-nav__item"
                  >
                    <a
                      href="{{ $menuUrl}}"
                      class="eg-nav__link eg-link dropdown__button"
                      target="{{ if .Pre }} _blank {{ end}}"
                    >{{.Name}}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="eg-navbar__items">
              <div>
                {{ with .Site.GetPage "/search.md" }}
                  <a href="{{ .Permalink }}">
                    <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="20px" height="20px"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"/></svg>
                  </a>
                {{ end }}
              </div>
              <div class="eg-navbar__language">
                <ul
                  class="dd-language dropdown dd-language--white dropdown__menu dd-language__menu"
                  id="languageMenu"
                >
                  <li class="dd-language__item">
                    <button
                    class="dd-language__button dd-language__button--white dropdown__button"
                    data-target-id="languageMenu"
                    >
                      {{ substr .Language.LanguageName 0 3 }}
                    </button>
                  </li>
                  {{ range $.AllTranslations }}
                    {{ if ne .Language.Lang $currentPage.Lang }}
                      <li class="dd-language__item dd-language__item_hidden">
                        <a class="dd-language__link dd-language__link--white eg-link" href="{{ .Permalink }}"><span>{{ substr .Language.LanguageName 0 3 }}</span></a>
                      </li>
                    {{ end }}
                  {{ end }}
                </ul>
              </div>
            </div>
            <button class="eg-navbar__trigger eg-navbar__trigger--white" type="button" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <div class="wrapper">
      <main class="landing content">
        <section class="header-section">
          <img src="/img/lines.svg" alt="" class="right-lines" />
          <div class="container header-section__container eg-text">
            <h1 class="header-section__title">
              {{ T "header_resilient_platform" | safeHTML }}
            </h1>
            <p class="header-section__paragraph">Ergo builds advanced cryptographic features and radically new DeFi functionality on the rock-solid foundations laid by a decade of blockchain theory and development.</p class="header-section__paragraph">
            <div class="slider">
              <p class="slider__paragraph"><span class="eg-text--color-red">Smart money is: </span></p>
              <p class="slider__paragraph">
                <span id="typed"></span>
                <div id="typed-strings">
                  <p><span class="eg-text--color-red">Conservative.</span> Because Smart doesn’t take unnecessary risks.</p>
                  <p><span class="eg-text--color-red">Ambitious.</span> Because Smart isn’t afraid to try new ideas.</p>
                  <p><span class="eg-text--color-red">Lightweight.</span> Because Smart isn’t exclusive.</p>
                  <p><span class="eg-text--color-red">Versatile.</span> Because Smart doesn’t limit its options.</p>
                </div>
              </p>
            </div>
            <div class="header-section__icons">
              {{- partial "social.html" . -}}
            </div>
            <a href="{{ `about`| absLangURL | safeURL }}" class="header-section__button eg-btn eg-btn--orange">{{ T "getting_started" }}</a>
          </div>
        </section>
        <section class="subheader-section">
          <div class="container container--margins-y subheader-section__container tabs">
            <ul class="subheader-section__tabs">
              <li class="subheader-section__item"><a href="#tabs-1">{{ T "ergo_vision" }}</a></li>
              <li class="subheader-section__item"><a href="#tabs-2">{{ T "ergo_decentralization" }}</a></li>
              <li class="subheader-section__item"><a href="#tabs-3">{{ T "ergo_economy" }}</a></li>
              <li class="subheader-section__item"><a href="#tabs-4">{{ T "ergo_contractual" }}</a></li>
              <li class="subheader-section__item"><a href="#tabs-5">{{ T "ergo_survivability" }}</a></li>
              <li class="subheader-section__item"><a href="#tabs-6">{{ T "ergo_clients" }}</a></li>
              <li class="subheader-section__item"><a href="#tabs-7">{{ T "ergo_consensus" }}</a></li>
              <li class="subheader-section__item"><a href="#tabs-8">{{ T "ergo_agile" }}</a></li>
            </ul>
            <div class="subheader-section__tabs-content">
              <div id="tabs-1" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_vision_text" | safeHTML }}</p>
              </div>
              <div id="tabs-2" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_decentralization_text" | safeHTML }}</p>
              </div>
              <div id="tabs-3" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_economy_text" | safeHTML }}</p>
              </div>
              <div id="tabs-4" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_contractual_text" | safeHTML }}</p>
              </div>
              <div id="tabs-5" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_survivability_text" | safeHTML }}</p>
              </div>
              <div id="tabs-6" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_clients_text" | safeHTML }}</p>
              </div>
              <div id="tabs-7" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_consensus_text" | safeHTML }}</p>
              </div>
              <div id="tabs-8" class="subheader-section__tab">
                <p class="subheader-section__tab-paragraph">{{ T "ergo_agile_text" | safeHTML }}</p>
              </div>
            </div>
          </div>
        </section>
        <section class="news-section">
          <div class="container container--margins-y">
            <h2 class="eg-title eg-title--black eg-mb-1">{{ T "news_title"}}</h2>
            <div class="news-section__items">
              {{ $langNews := where .Site.RegularPages "Section" "news" }}
              {{ with $langNews }}
                {{ range first 3 $langNews }}
                  <div class="news-section__item">
                    <h3
                      class="news-section__item-title"
                    >{{ if eq .Language.Lang "cn" }}{{ .Date.Format "2006.01.02" }}{{ else }}{{ .Date.Format "2 January, 2006" }}{{end}}</h3>
                    <div class="eg-mb-0-5">
                      <a class="news-section__item-paragraph eg-link"{{ if isset .Params `link`}} href="{{.Params.link}}"{{end}}>
                      {{ if isset .Params `link`}} <span> {{end}}
                        {{ .Title }}
                      {{ if isset .Params `link`}} </span> {{end}}
                      </a>
                    </div>
                    <div>
                      <a class="news-section__item-subparagraph eg-link" {{ if isset .Params `link`}} href="{{.Params.link}}"{{end}}>
                        {{ if isset .Params `link`}} <span> {{end}}
                          {{ .Params.subTitle }}
                        {{ if isset .Params `link`}} </span> {{end}}
                      </a>
                    </div>
                  </div>
                {{end}}
              {{ else }}
                {{ range .Site.Home.AllTranslations }}
                  {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                    {{ $defaultLangPages := where .Sites.First.Pages "Section" "news" }}
                    {{ range first 3 $defaultLangPages }}
                      <div class="news-section__item">
                        <h3 class="news-section__item-title">{{ .Date.Format "2 January, 2006" }}</h3>
                        <div class="eg-mb-0-5">
                          <a class="news-section__item-paragraph eg-link"{{ if isset .Params `link`}} href="{{.Params.link}}"{{end}}>
                          {{ if isset .Params `link`}} <span> {{end}}
                            {{ .Title }}
                          {{ if isset .Params `link`}} </span> {{end}}
                          </a>
                        </div>
                        <div>
                          <a class="news-section__item-subparagraph eg-link" {{ if isset .Params `link`}} href="{{.Params.link}}"{{end}}>
                            {{ if isset .Params `link`}} <span> {{end}}
                              {{ .Params.subTitle }}
                            {{ if isset .Params `link`}} </span> {{end}}
                          </a>
                        </div>
                      </div>
                    {{end}}
                  {{end}}
                {{ end }}
              {{ end }}
            </div>
          </div>
        </section>
        <section class="services-section">
          <div class="container container--margins-y grid-container-1k2 services-section__container">
            <h2 class="eg-title eg-title--white services-section__title">{{ T "services_title" }}</h2>
            <div class="services-section__items grid-container-1k1">
              <div class="eg-info">
                <a class="eg-info__title eg-link" href="{{ `wallets` | absLangURL | safeURL}}"><span>{{ T "service_wallets_title" }}</span></a>
                <a class="eg-info__paragraph eg-link" href="{{ `wallets` | absLangURL | safeURL}}"><span>{{ T "service_wallets_paragraph" }}</span></a>
              </div>
              <div class="eg-info">
                <a class="eg-info__title eg-link" href="{{ `exchanges` | absLangURL | safeURL}}"><span>{{ T "service_exchanges_title" }}</span></a>
                <a class="eg-info__paragraph eg-link" href="{{ `exchanges` | absLangURL | safeURL}}"><span>{{ T "service_exchanges_paragraph" }}</span></a>
              </div>
              <div class="eg-info">
                <a class="eg-info__title eg-link" href="https://explorer.ergoplatform.com/"><span>{{ T "service_explorer_title" }}</span></a>
                <a class="eg-info__paragraph eg-link" href="https://explorer.ergoplatform.com/"><span>{{ T "service_explorer_paragraph" }}</span></a>
              </div>
              <div class="eg-info">
                <a class="eg-info__title eg-link" href="{{ `tools` | absLangURL | safeURL}}"><span>{{ T "service_dev_tools_title" }}</span></a>
                <a class="eg-info__paragraph eg-link" href="{{ `tools` | absLangURL | safeURL}}"><span>{{ T "service_dev_tools_paragraph" }}</span></a>
              </div>
              <div class="eg-info">
                <a class="eg-info__title eg-link" href="{{ `software` | absLangURL | safeURL}}"><span>{{ T "service_software_title" }}</span></a>
                <a class="eg-info__paragraph eg-link" href="{{ `software` | absLangURL | safeURL}}"><span>{{ T "service_software_paragraph" }}</span></a>
              </div>
              <div class="eg-info">
                <a class="eg-info__title eg-link" href="https://github.com/ergoplatform/ergo/wiki"><span>{{ T "service_wiki_title" }}</span></a>
                <a class="eg-info__paragraph eg-link" href="https://github.com/ergoplatform/ergo/wiki"><span>{{ T "service_wiki_paragraph" }}</span></a>
              </div>
            </div>
          </div>
        </section>
        <section class="blog-section">
          <div class="container container--margins-y">
            <h2 class="eg-title eg-title--black eg-mb-1-5">{{ T "blog_section"}}</h2>
            <div class="blog-section__container">
            {{ $blogPages := where .Site.RegularPages "Section" "blog" }}
            {{ with $blogPages }}
              {{ range first 2 $blogPages }}
                <div class="blog-section__item">
                  <h3 class="blog-section__item-title"><a href="{{ .Permalink | safeURL }}" class="eg-link"><span>{{ .Title }}</span></a></h3>
                  <div class="eg-author">
                    <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img" width="60" height="60">
                    <div class="eg-author__info">
                      <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                      <p class="eg-author__info-paragraph">{{ if eq .Language.Lang "cn" }}{{ .Date.Format "2006.01.02" }}{{ else }}{{ .Date.Format "2 January, 2006" }}{{end}}</p>
                    </div>
                  </div>
                  <a class="blog-section__button eg-btn eg-btn--outline-orange" href="{{ .Permalink | safeURL }}">{{ T "read_more" }}</a>
                </div>
              {{end}}
            {{ else }}
              {{ range .Site.Home.AllTranslations }}
                {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                  {{ $defaultBlogPages := where .Pages "Section" "blog" }}
                  {{ range first 2 $defaultBlogPages }}
                    <div class="blog-section__item">
                      <h3 class="blog-section__item-title">{{ .Title }}</h3>
                      <div class="eg-author">
                        <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img">
                        <div class="eg-author__info">
                          <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                          <p class="eg-author__info-paragraph">{{ .Date.Format "2 January, 2006" }}</p>
                        </div>
                      </div>
                      <a class="blog-section__button eg-btn eg-btn--outline-orange eg-link" href="{{.Params.link}}"><span>{{ T "read_more" }}</span></a>
                    </div>
                  {{end}}
                {{end}}
              {{ end }}
            {{ end }}
            </div>
          </div>
        </section>
        <section class="community-section eg-red-section">
          <div class="container eg-red-section__container">
            <h2 class="eg-red-section__white-title">{{ T "community_title" }}</h2>
            <div>
              <p class="eg-red-section__paragraph">{{ T "community_paragraph" }}</p>
              <a class="eg-red-section__link eg-link" href="{{ `contribute` | absLangURL | safeURL}}"><span>{{ T "community_link" }}</span></a>
            </div>
          </div>
        </section>
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
