<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ergo platform</title>
    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.PostCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $js := resources.Get "js/index.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <!-- <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script> -->
    <script type="text/javascript" src="/js/index.js" defer></script>
  </head>
  <body>
    {{- $currentPage := . -}}
    <header class="eg-header">
      <nav class="eg-navbar">
        <div class="container eg-navbar__container">
          {{ with .Site.GetPage "home" }}
            <a href="{{ .Permalink }}" class="logotype">
              <img src="/img/logotype_white.svg" alt="logotype">
            </a>
          {{ end }}
          <div class="eg-navbar__collapse eg-navbar__collapse--black" id="navbarSupportedContent">
            <ul class="eg-nav">
              {{ range $index, $menuItem := .Site.Menus.mainmenu }}
                <li class="eg-nav__item {{ if $currentPage.IsMenuCurrent "mainmenu" . }}active{{ end }}">
                  <a
                    class="eg-nav__link"
                    href="{{ .URL  }}"
                  >{{ with $menuItem.Pre }}{{ . | safeHTML }}{{ end }}{{ $menuItem.Name }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="eg-navbar__language">
            <div class="dd-language dropdown dd-language--white">
              <button
                class="dd-language__button dd-language__button--white dropdown__button"
                data-target-id="languageMenu"
              >
                {{ upper .Lang }}
              </button>
              <ul
                id="languageMenu"
                class="dropdown__menu dd-language__menu"
              >
                {{ range $.AllTranslations }}
                  {{ if ne .Language.Lang $currentPage.Lang }}
                    <li class="dd-language__item">
                      <a class="dd-language__link dd-language__link--white" href="{{ .Permalink }}">{{ upper .Language.Lang }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
          <button class="eg-navbar__trigger eg-navbar__trigger--white" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
          </button>
        </div>
      </nav>
    </header>
    <main class="landing">
      <section class="header-section">
        <div class="container header-section__container">
          <h1 class="header-section__title">
            <span class="header-section__title--red">{{ T "header_resilient_platform" }}</span>
            <br/>
            {{ T "header_contractual_money" }}
          </h1>
          <div class="header-section__icons">
            {{- partial "social.html" . -}}
          </div>
          <button class="header-section__button eg-btn eg-btn--orange">{{ T "getting_started" }}</button>
        </div>
      </section>
      <section class="subheader-section">
        <div class="container container--margins-y subheader-section__container tabs">
          <ul class="subheader-section__tabs">
            <li class="subheader-section__item"><a href="#tabs-1">{{ T "ergo_philosophy" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-2">{{ T "ergo_decentralization" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-3">{{ T "ergo_economy" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-4">{{ T "ergo_contractual" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-5">{{ T "ergo_clients" }}</a></li>
            <li class="subheader-section__item"><a href="#tabs-6">{{ T "ergo_survivability" }}</a></li>
          </ul>
          <div class="subheader-section__tabs-content">
            <div id="tabs-1">
              <h2 class="subheader-section__tab-title">{{ T "ergo_philosophy" }}</h2>
              <p class="subheader-section__tab-paragraph">{{ T "ergo_philosophy_text" }}</p>
            </div>
            <div id="tabs-2">
              <h2 class="subheader-section__tab-title">{{ T "ergo_decentralization" }}</h2>
              <p class="subheader-section__tab-paragraph">{{ T "ergo_decentralization_text" }}</p>
            </div>
            <div id="tabs-3">
              <h2 class="subheader-section__tab-title">{{ T "ergo_economy" }}</h2>
              <p class="subheader-section__tab-paragraph">{{ T "ergo_economy_text" }}</p>
            </div>
            <div id="tabs-4">
              <h2 class="subheader-section__tab-title">{{ T "ergo_contractual" }}</h2>
              <p class="subheader-section__tab-paragraph">{{ T "ergo_contractual_text" }}</p>
            </div>
            <div id="tabs-5">
              <h2 class="subheader-section__tab-title">{{ T "ergo_clients" }}</h2>
              <p class="subheader-section__tab-paragraph">{{ T "ergo_clients_text" }}</p>
            </div>
            <div id="tabs-6">
              <h2 class="subheader-section__tab-title">{{ T "ergo_survivability" }}</h2>
              <p class="subheader-section__tab-paragraph">{{ T "ergo_survivability_text" }}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="news-section">
        <div class="container container--margins-y">
          <h2 class="eg-title eg-title--black">{{ T "news_title"}}</h2>
          <div class="news-section__items">
            {{ $langNews := where .Pages "Section" "news" }}
            {{ with $langNews }}
              {{ range first 3 $langNews }}
                <a class="news-section__item" href="{{.Params.link}}">
                  <h3 class="news-section__item-title">{{ .Date.Format "2 January, 2006" }}</h3>
                  <p class="news-section__item-paragraph">{{ .Title }}</p>
                </a>
              {{end}}
            {{ else }}
              {{ range .Site.Home.AllTranslations }}
                {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                  {{ $defaultLangPages := where .Pages "Section" "news" }}
                  {{ range first 3 $defaultLangPages }}
                    <a class="news-section__item" href="{{.Params.link}}">
                      <h3 class="news-section__item-title">{{ .Date.Format "2 January, 2006" }}</h3>
                      <p class="news-section__item-paragraph">{{ .Title }}</p>
                    </a>
                  {{end}}
                {{end}}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </section>
      <section class="services-section">
        <div class="container container--margins-y grid-container-1k2 services-section__container">
          <h2 class="eg-title services-section__title">{{ T "services_title" }}</h2>
          <div class="services-section__items grid-container-1k1">
            <a class="eg-info eg-info--link" href="{{ `wallets` | absLangURL | safeURL}}">
              <h3 class="eg-info__title">{{ T "service_wallets_title" }}</h3>
              <p class="eg-info__paragraph">{{ T "service_wallets_paragraph" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="{{ `exchanges` | absLangURL | safeURL}}">
              <h3 class="eg-info__title">{{ T "service_exchanges_title" }}</h3>
              <p class="eg-info__paragraph">{{ T "service_exchanges_paragraph" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="https://testnet.ergoplatform.com/">
              <h3 class="eg-info__title">{{ T "service_explorer_title" }}</h3>
              <p class="eg-info__paragraph">{{ T "service_explorer_paragraph" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="{{ `developer-tools` | absLangURL | safeURL}}">
              <h3 class="eg-info__title">{{ T "service_dev_tools_title" }}</h3>
              <p class="eg-info__paragraph">{{ T "service_dev_tools_paragraph" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="{{ `software` | absLangURL | safeURL}}">
              <h3 class="eg-info__title">{{ T "service_software_title" }}</h3>
              <p class="eg-info__paragraph">{{ T "service_software_paragraph" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="{{ `wiki` | absLangURL | safeURL}}">
              <h3 class="eg-info__title">{{ T "service_wiki_title" }}</h3>
              <p class="eg-info__paragraph">{{ T "service_wiki_paragraph" }}</p>
            </a>
          </div>
        </div>
      </section>
      <section class="documents-section">
        <div class="container container--margins-y grid-container-1k2">
          <div>
            <h2 class="eg-title eg-title--black">{{ T "documents_title" }}</h2>
          </div>
          <div class="services-section__items grid-container-1k1">
            <a class="eg-info eg-info--link" href="https://docs.ergoplatform.com/teaser.pdf">
              <h3 class="eg-info__title">{{ T "documents_ergo_platform" }}</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">{{ T "documents_ergo_platform_text" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="https://docs.ergoplatform.com/ErgoScript.pdf">
              <h3 class="eg-info__title">{{ T "documents_ergoscript" }}</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">{{ T "documents_ergoscript_text" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="https://docs.ergoplatform.com/YellowPaper.pdf">
              <h3 class="eg-info__title">{{ T "documents_ergo_tech" }}</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">{{ T "documents_ergo_tech_text" }}</p>
            </a>
            <a class="eg-info eg-info--link" href="https://docs.ergoplatform.com/sigmastate_protocols.pdf">
              <h3 class="eg-info__title">{{ T "documents_ergo_script_adv" }}</h3>
              <p class="eg-info__paragraph eg-info__paragraph--black">{{ T "documents_ergo_script_adv_text" }}</p>
            </a>
          </div>
        </div>
      </section>
      <section class="history-section">
        <div class="container container--margins-y">
          <h2 class="eg-title eg-title--black">{{ T "development_history_title" }}</h2>
          {{- partial "slider.html" . -}}
        </div>
      </section>
      <section class="blog-section">
        <div class="container container--margins-y blog-section__container">
          {{ $blogPages := where .Pages "Section" "blog" }}
          {{ with $blogPages }}
            {{ range first 2 $blogPages }}
              <div class="blog-section__item">
                <h3 class="blog-section__item-title">{{ .Title }}</h3>
                <div class="eg-author">
                  <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img">
                  <div class="eg-author__info">
                    <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                    <p class="eg-author__info-paragraph">{{ .Date.Format "2 January, 2006" }}</p>
                  </div>
                </div>
                <a class="blog-section__button eg-btn eg-btn--outline-orange" href="{{.Params.link}}">{{ T "read_more" }}</a>
              </div>
            {{end}}
          {{ else }}
            {{ range .Site.Home.AllTranslations }}
              {{ if eq .Language.Lang .Site.Params.defaultLanguage }}
                {{ $defaultBlogPages := where .Pages "Section" "blog" }}
                {{ range first 3 $defaultBlogPages }}
                  <div class="blog-section__item">
                    <h3 class="blog-section__item-title">{{ .Title }}</h3>
                    <div class="eg-author">
                      <img src="{{ .Params.authorPhoto }}" alt="author img" class="eg-author__img">
                      <div class="eg-author__info">
                        <h4 class="eg-author__info-title">{{ .Params.Author }}</h4>
                        <p class="eg-author__info-paragraph">{{ .Date.Format "2 January, 2006" }}</p>
                      </div>
                    </div>
                    <a class="blog-section__button eg-btn eg-btn--outline-orange" href="{{.Params.link}}">{{ T "read_more" }}</a>
                  </div>
                {{end}}
              {{end}}
            {{ end }}
          {{ end }}
        </div>
      </section>
      <section class="community-section eg-red-section">
        <div class="container eg-red-section__container">
          <h2 class="eg-red-section__white-title">{{ T "community_title" }}</h2>
          <div>
            <p class="eg-red-section__paragraph">{{ T "community_paragraph" }}</p>
            <a class="eg-red-section__link" href="">{{ T "community_link" }}</a>
          </div>
        </div>
      </section>
      {{- partial "footer.html" . -}}
    </main>
  </body>
</html>
