.landing {
  .header-section {
    background-color: $black;
    overflow: hidden;
    position: relative;

    .header-section__container {
      padding-top: 240px;
      padding-bottom: 150px;

      @media (max-width: $md) {
        padding-top: 200px;
        padding-bottom: 110px;
      }

      @media (max-width: $sm) {
        background-position: center;
        padding-bottom: 60px;
      }
    }

    .header-section__title {
      max-width: 681px;
      color: $white;
      font-size: 50px;
      line-height: 60px;
      font-weight: normal;
      margin: 0;

      @media (max-width: $sm) {
        font-size: 36px;
        line-height: 46px;
      }

      @media (max-width: $sm) {
        font-size: 26px;
        line-height: 32px;
      }

      @media (max-width: $xs) {
        font-size: 24px;
        line-height: 32px;
      }

      &--red {
        color: $light-red;
      }
    }

    .header-section__icons {
      margin-top: 35px;

      @media (max-width: $xs) {
        margin-top: 1.5rem;
      }
    }

    .header-section__button {
      margin-top: 70px;
    }
  }

  .subheader-section {
    background: $light-white;

    .subheader-section__container {
      display: grid;
      grid-template-columns: 5fr 11fr;
      grid-gap: 5.9%;

      @media (max-width: $sm) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }

    .subheader-section__item {
      outline: none;
    }

    .subheader-section__tab {
      display: none;

      &[aria-hidden="false"] {
        display: block;
      }
    }

    .subheader-section__tabs {
      @media (max-width: $sm) {
        display: flex;
        overflow-y: auto;

        .subheader-section__item {
          a {
            white-space: nowrap;
          }

          & + .subheader-section__item {
            margin-left: 1rem;
          }
        }
      }

      .ui-tabs-active {
        a {
          color: $light-red;

          &::after {
            content: "";
            background-image: url('/img/landing/right-arrow.svg');
            background-repeat: no-repeat;
            height: 15px;
            width: 22px;
            position: absolute;
            right: -35px;
            top: 25%;

            @media (max-width: $sm) {
              display: none;
            }
          }
        }
      }

      a {
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        color: $black;
        text-decoration: none;
        position: relative;
        outline: none;

        &:hover {
          color: $light-red;
        }
      }
    }

    .subheader-section__tab-title {
      font-size: 42px;
      line-height: 50px;
      font-weight: 400;
      margin-bottom: 1rem;

      @media (max-width: $sm) {
        display: none;
      }
    }

    .subheader-section__tab-paragraph {
      color: $light-black;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 1px;

      @media (max-width: $sm) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .news-section {
    .news-section__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5.9%;

      @media (max-width: $sm) {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
      }
    }

    .news-section__item {
      &-title {
        color: $light-red;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 0.5rem;

        @media (max-width: $sm) {
          font-size: 14px;
          line-height: 30px;
          margin-bottom: 0;
        }
      }

      &-paragraph {
        color: $light-black !important;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;

        &:visited {
          color: $light-black !important;
        }

        @media (max-width: $sm) {
          font-size: 16px;
          line-height: 22px;
        }
      }

      &-subparagraph {
        color: $light-black !important;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;

        &:visited {
          color: $light-black !important;
        }

        @media (max-width: $sm) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .services-section {
    background-color: $black;

    .services-section__container {
      background: url('/img/landing/services-bg.svg') no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .history-section {
    font-size: 42px;
    line-height: 50px;
    background: $light-white;
  }

  .blog-section {
    .blog-section__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16.5%;

      @media (max-width: $sm) {
        grid-template-columns: 1fr;
        grid-gap: 40px;
      }
    }

    .blog-section__item-title {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 1.5rem;
      font-weight: normal;
      max-width: 600px;

      a {
        color: $black;
      }

      @media (max-width: $sm) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    .blog-section__button {
      margin-top: 2rem;

      @media (max-width: $sm) {
        margin-top: 1rem;
      }
    }
  }
}
