.show-main-nav {
  body {
    overflow: hidden;
    position: fixed;
  }

  .eg-navbar__trigger {
    & > span {
      background: 0 0 !important;

      &::before,
      &::after {
        top: 0 !important;
        transition: top .3s,transform .3s .5s !important;
      }

      &::after {
        transform: rotate3d(0,0,1,-45deg);
      }

      &::before {
        transform: rotate3d(0,0,1,45deg);
      }
    }
  }

  .eg-navbar__collapse {
    display: block !important;
  }
}

.eg-header {
  position: absolute;
  width: 100%;
  margin-top: 40px;

  @media (max-width: $md) {
    margin-top: 35px;
  }

  .eg-navbar {
    height: inherit;
    position: relative;

    .eg-navbar__container {
      display: flex;
      height: 60px;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $md) {
        justify-content: flex-start;
      }

      @media (max-width: $sm) {
        display: flex;
        align-items: center;
        height: 48px;
      }
    }

    .eg-navbar__collapse {
      display: flex;
      align-items: center;

      @media (max-width: $md) {
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        display: none;
        min-width: 320px;
        overflow-y: auto;
        background-color: rgba(255,255,255,0.97);
      }

      &--black {
        background-color: rgba(0,0,0,0.97);
      }
    }

    .eg-navbar__trigger {
      display: none;

      @media (max-width: $md) {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        width: 30px;
        height: 30px;
        padding: 0;
        background: 0 0;
        border: 0;
        user-select: none;
      }

      &--black {
        span {
          background-color: $black;

          &::before,
          &::after {
            background: $black;
          }
        }
      }

      &--white {
        span {
          background-color: $white;

          &::before,
          &::after {
            background: $white;
          }
        }
      }

      span {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 3px;
        vertical-align: bottom;
        transition: background .3s .5s;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 3px;
          transform-origin: 50% 50%;
          transition: top .3s .3s,transform .3s;
        }

        &::before {
          top: 10px;
        }

        &::after {
          top: -10px;
        }
      }
    }
  }

  .eg-nav {
    display: flex;

    &--black {
      .eg-nav__link {
        color: $black !important;
      }
    }

    @media (max-width: $md) {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .eg-nav__item {
      & + .eg-nav__item {
        margin-left: 2rem;

        @media (max-width: $md) {
          margin-left: 0;
          margin-top: 1.5rem;
        }
      }
    }

    .eg-nav__link {
      color: $white;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;

      @media (max-width: $md) {
        font-size: 26px;
        font-weight: 100;
      }
    }
  }

  .eg-navbar__language {
    height: 100%;
    margin-top: 8px;

    @media (max-width: $md) {
      margin-left: auto;
      margin-top: 16px;
    }

    @media (max-width: $sm) {
      margin-top: 4px;
    }
  }
}

.dd-language {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  width: 85px;
  border: 1px solid transparent;
  border-bottom: none;

  &--white {
    .dd-language__button {
      color: $white !important;
    }

    .dd-language__link {
      color: $white !important;
    }
  }

  @media (max-width: $md) {
    margin-left: auto;
    margin-right: 1.5rem;
  }

  .dd-language__button {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding-left: 0;
    color: $black;
    padding-bottom: 0;
    padding-top: 0;

    &::after {
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      content: "";
      width: 12px;
      height: 7px;
      position: absolute;
      right: -12px;
      top: 6px;
    }
  }

  &.show {
    border: 1px solid $white;
    border-bottom: none;

    .dd-language__menu {
      display: flex;
    }
  }

  .dd-language__menu {
    display: none;
    position: absolute;
    flex-direction: column;
    padding-bottom: 12px;
    top: 30px;
    left: -1px;
    border: 1px solid $white;
    border-top: none;
    width: 85px;
  }

  .dd-language__item {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .dd-language__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    width: 100%;
  }
}
