{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "exchanges_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18 eg-mb-0">{{ T "exchanges_first-section_first_paragraph" | safeHTML }}</p>
        <div class="eg-mt-2-5">
          <a href="{{ `wallets` | absLangURL | safeURL}}" class="eg-text__link eg-text__link--26 eg-link"><span>{{ T "exchanges_first-section_link"}}</span></a>
        </div>
      </div>
    </section>
    <section class="container container--last-container">
      <div class="border-section container--margins-y grid-container-1k2">
        <h2 class="eg-title">{{ T "exchanges_second_title" }}</h2>
        <div class="grid-container-1k2__main-section">
          <div class="eg-text eg-mb-1-5">
            <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "exchanges_second-section_first_paragraph"}}</p>
          </div>
          <div class="eg-exchanges">
              <div>
                <a href="https://client.wavesplatform.com/dex-demo?assetId2=725Yv9oceWsB4GsYwyy4A52kEwyVrL5avubkeChSnL46&assetId1=WAVES">
                  <img src="/img/exchanges/wavesdex-black-120.svg" alt="waves exchange" width="170">
                </a>
              </div>
            <div>
              <a href="https://tidex.com/exchange/efyt/btc">
                <img src="/img/exchanges/tidex.svg" alt="tidex exchange" width="170">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
