{{define "main"}}
  <main>
    <section class="container container--top-content grid-container-1k2">
      <h2 class="eg-title">{{ T "tech_first_title" }}</h2>
      <div class="eg-text grid-container-1k2__main-section">
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "tech_first-section_first_paragraph"}}</p>
        <p class="eg-text__paragraph eg-text__paragraph--18">{{ T "tech_first-section_second_paragraph"}}</p>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2">
        <h2 class="eg-title">{{ T "tech_second_title" }}</h2>
        <div class="grid-container-1k2__main-section grid-container-1k1 grid-container-1k1--md-margins">
          <div class="eg-text">
            <div class="eg-mb-1">
              <a
                class="eg-text__link eg-text__link--26 eg-text__link--download eg-link"
                href="{{ T `documents_ergo_platform_link` }}"
              ><span>{{ T "documents_ergo_platform" }}</span></a>
            </div>
            <div>
              <a
                class="eg-text__paragraph eg-link"
                href="{{ T `documents_ergo_platform_link` }}"
              ><span>{{ T "documents_ergo_platform_text" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a
                class="eg-text__link eg-text__link--26 eg-text__link--download eg-link"
                href="/docs/ErgoScript.pdf"><span>{{ T "documents_ergoscript" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="/docs/ErgoScript.pdf"><span>{{ T "documents_ergoscript_text" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <p class="eg-info__paragraph eg-mb-1 eg-text__link--26 eg-text-color--black"><span>{{ T "documents_ergo_tech" }}</span></p>
            <p class="eg-info__paragraph eg-text-color--black"><span>{{ T "documents_ergo_tech_text" }}</span></p>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--26 eg-text__link--download eg-link" href="/docs/AdvancedErgoScriptTutorial.pdf"><span>{{ T "documents_ergo_script_adv" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="/docs/AdvancedErgoScriptTutorial.pdf"><span>{{ T "documents_ergo_script_adv_text" }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="border-section container--margins-y grid-container-1k2  container--last-container  container--lg-padding-bottom">
        <div>
          <h2 class="eg-title">{{ T "tech_third_title" }}</h2>
          <div class="eg-mt-2-5 eg-mb-sm-2 eg-mt-sm-1 eg-text">
            <a href="https://apograf.io/c/7MEY3" class="eg-text__link eg-text__link--20 eg-text__link--left-arrow eg-link"><span>{{ T "tech_third-section_title_link"}}</span></a>
          </div>
        </div>
        <div class="grid-container-1k2__main-section grid-container-1k1 grid-container-1k1--md-margins">
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2016/994.pdf"><span>{{ T "tech_third-section_first_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2016/994.pdf"><span>{{ T "tech_third-section_first_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://fc18.ifca.ai/bitcoin/papers/bitcoin18-final18.pdf"><span>{{ T "tech_third-section_second_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://fc18.ifca.ai/bitcoin/papers/bitcoin18-final18.pdf"><span>{{ T "tech_third-section_second_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2017/731.pdf"><span>{{ T "tech_third-section_third_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2017/731.pdf"><span>{{ T "tech_third-section_third_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://arxiv.org/pdf/1806.10116"><span>{{ T "tech_third-section_fourth_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://arxiv.org/pdf/1806.10116"><span>{{ T "tech_third-section_fourth_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2018/129.pdf"><span>{{ T "tech_third-section_fifth_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2018/129.pdf"><span>{{ T "tech_third-section_fifth_paragraph" }}</span></a>
            </div>
          </div>
          <div class="eg-text">
            <div class="eg-mb-1">
              <a class="eg-text__link eg-text__link--20 eg-link" href="https://eprint.iacr.org/2018/968.pdf"><span>{{ T "tech_third-section_sixth_title" }}</span></a>
            </div>
            <div>
              <a class="eg-text__paragraph eg-link" href="https://eprint.iacr.org/2018/968.pdf"><span>{{ T "tech_third-section_sixth_paragraph" }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{{end}}
